<ul class="list-group">
	<li
		class="list-group-item list-group-item-warning text-center"
		*ngIf="wait"
	>
		<fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
	</li>
	<li
		class="list-group-item list-group-item-secondary text-center"
		*ngIf="!wait && showNoOrdersFoundError"
	>
		<fa-icon [icon]="'exclamation-circle'" class="mr-2"></fa-icon>
		<span i18n="@@customerOrderItemListNoOrderItemsFound"
			>No ordered items found</span
		>
	</li>
</ul>
<ul class="list-group" *ngIf="!wait">
	<li
		class="list-group-item"
		*ngFor="let customerOrderItem of customerOrderItems"
	>
		<app-customer-order-item-list-item
			[customerOrderItem]="customerOrderItem"
		></app-customer-order-item-list-item>
	</li>
</ul>
