
<div class="row">
	<div class="col-12">
		<app-bl-common-alert [type]="'secondary'" *ngIf="customerOrderItems.length <= 0" [text]="noOrderItemsText"></app-bl-common-alert>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let customerOrderItem of customerOrderItems">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <span routerLink="{{'/item/' + customerOrderItem.orderItem.item + '/detail'}}" class="bl-link-black">
                            <fa-icon [icon]="'book'" class="mr-2"></fa-icon> {{customerOrderItem.orderItem.title}}
                        </span>
                    </div>
                    <div class="col-auto text-secondary small bl-link-black" routerLink="{{'/order/' + customerOrderItem.order.id + '/detail'}}">
                        <span *ngIf="havePayed(customerOrderItem)">
							<fa-icon [icon]="'dollar-sign'" class="mr-1"></fa-icon><fa-icon [icon]="'check-circle'"></fa-icon>
						</span>
						<span *ngIf="!havePayed(customerOrderItem)"><fa-icon [icon]="'dollar-sign'" class="mr-2"></fa-icon> {{customerOrderItem.orderItem.amount | blcPrice}}</span>
                    </div>
                </div>


                <div class="row justify-content-between mt-2 align-items-center">
                    <div class="col-auto text-secondary">
                        <small>
                            <span *ngIf="customerOrderItem.orderItem.type === 'buy'"><fa-icon [icon]="'money-bill-alt'" class="mr-2"></fa-icon> {{customerOrderItem.orderItem.type}}</span>

                            <span *ngIf="customerOrderItem.orderItem.type === 'rent' || customerOrderItem.orderItem.type === 'extend'">
                                <span><fa-icon [icon]="'calendar-alt'" class="mr-2"></fa-icon> {{customerOrderItem.orderItem.type}}</span>
                                <span class="ml-2"><fa-icon [icon]="'arrow-right'" class="mr-2"></fa-icon> {{customerOrderItem.orderItem.info['to'] | blDate}}</span>
                            </span>
                        </small>
                    </div>

                    <div class="col-6" *ngIf="currentBranchId === customerOrderItem.order.branch">
                       <app-blc-item-add [orderItem]="customerOrderItem.orderItem" [order]="customerOrderItem.order"></app-blc-item-add>
                    </div>

					<div class="col-6 justify-content-center" *ngIf="currentBranchId !== customerOrderItem.order.branch">
						<div class="alert alert-warning text-center">
							<div class="mr-2">orderItem is from</div>
							<span class="font-weight-bold">{{customerOrderItem.order.branch | branchName | async}}</span>
						</div>
					</div>
				</div>
            </li>
        </ul>

	</div>
</div>
