<div class="row">
	<div class="col-12">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col" i18n="@@cartListSmallTitle">Title</th>
					<th scope="col" i18n="@@cartListSmallAction">Action</th>
					<th scope="col">
						<fa-icon [icon]="'dollar-sign'"></fa-icon>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cartItem of cart">
					<td>{{ cartItem.orderItem.title }}</td>

					<td
						*ngIf="
							cartItem.orderItem.type === 'rent' ||
							cartItem.orderItem.type === 'extend'
						"
					>
						<fa-icon
							[icon]="'calendar-alt'"
							class="mr-2"
							*ngIf="
								cartItem.orderItem.info.periodType ===
								'semester'
							"
						></fa-icon>
						<fa-icon
							[icon]="'calendar'"
							class="mr-2"
							*ngIf="
								cartItem.orderItem.info.periodType === 'year'
							"
						></fa-icon>
						<fa-icon
							[icon]="'calendar-plus'"
							class="mr-2"
							*ngIf="cartItem.action === 'extend'"
						></fa-icon>
						<fa-icon [icon]="'arrow-right'" class="mr-2"></fa-icon>
						{{ cartItem.orderItem.info.to | blDate }}
					</td>

					<td *ngIf="cartItem.orderItem.type === 'partly-payment'">
						<fa-icon
							[icon]="'money-bill-alt'"
							class="mr-1"
						></fa-icon>
						<fa-icon
							[icon]="'calendar-alt'"
							class="mr-2"
							*ngIf="cartItem.orderItem.periodType === 'semester'"
						></fa-icon>
						<fa-icon
							[icon]="'calendar'"
							class="mr-2"
							*ngIf="cartItem.orderItem.periodType === 'year'"
						></fa-icon>
						<fa-icon [icon]="'arrow-right'" class="mr-1"></fa-icon>
						<fa-icon [icon]="'clock'" class="mr-1"></fa-icon>
						{{ cartItem.orderItem.info.to | blDate }}
					</td>

					<td
						*ngIf="
							cartItem.orderItem.type === 'buy' ||
							cartItem.orderItem.type === 'buyout'
						"
					>
						<fa-icon [icon]="'money-bill-alt'"></fa-icon>
					</td>
					<td
						*ngIf="
							cartItem.orderItem.type === 'sell' ||
							cartItem.orderItem.type === 'buyback'
						"
					>
						<fa-icon [icon]="'exchange-alt'"></fa-icon>
						<span
							*ngIf="cartItem.orderItem.type === 'buyback'"
							i18n="@@cartListSmallBuybackItem"
							class="ml-2"
							>buyback item</span
						>
					</td>
					<td *ngIf="cartItem.action === 'cancel'">
						<fa-icon [icon]="'ban'"></fa-icon>
					</td>
					<td *ngIf="cartItem.action === 'return'">
						<fa-icon [icon]="'arrow-alt-circle-down'"></fa-icon>
					</td>

					<td>{{ cartItem.orderItem.amount | blcPrice }}</td>
				</tr>
				<tr class="table-success bl-text-lg">
					<td><span i18n="@@cartListSmallTotal">Total</span></td>
					<td></td>
					<td>
						<b>{{ cartTotalAmount | blcPrice }}</b>
					</td>
				</tr>
				<tr
					class="table-light bl-text-sm"
					*ngIf="cartIncludesPartlyPayments()"
				>
					<td>
						<span i18n="@@cartListSmallTotalIncludingPartlyPayment"
							>Total including partly payments</span
						>
					</td>
					<td></td>
					<td>{{ getTotalAmountWithPartlyPayments() | blcPrice }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
