<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="row justify-content-between">
					<div class="col-auto"></div>
					<div class="col-auto">
                        <h3 class="card-title text-center text-secondary">
                            <fa-icon [icon]="'shopping-cart'"></fa-icon>
                        </h3>
					</div>
					<div class="col-auto">
						<button class="btn btn-outline-secondary btn-sm" (click)="onClearCart()">
							<fa-icon [icon]="'trash-alt'"></fa-icon>
						</button>
					</div>
				</div>
				<div class="row justify-content-end">
				</div>
			</div>

			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngFor="let cartItem of cart">
					<app-cart-list-item [cartItem]="cartItem"></app-cart-list-item>
				</li>
			</ul>

			<app-bl-common-alert [type]="'secondary'" class="mr-3 ml-3 mt-3" *ngIf="cart.length <= 0" [text]="'Cart is empty'"></app-bl-common-alert>


            <div class="card-footer bl-cart-list-footer" *ngIf="cart.length > 0">
				<div class="row justify-content-between align-items-center text-secondary">

                    <div class="col-3">
                        <button class="btn btn-outline-success btn-block" (click)="onShowConfirm(confirmCartContent)">
							<span i18n="@@blConfirmButton">Confirm</span>
                        </button>
                    </div>
                    <div class="col-auto font-weight-bold">
                        {{getTotalAmount() | blcPrice}}
                    </div>
				</div>
            </div>
		</div>

	</div>
</div>


<ng-template #confirmCartContent let-c="close" let-d="dismiss">
	<app-cart-confirm (confirmed)="onCartConfirm()"></app-cart-confirm>
</ng-template>
