<div class="card">
	<div class="card-header">
		<div class="row justify-content-between align-items-center">
			<div class="col-auto" *ngIf="!showNotifyByEmailEdit"></div>
			<div class="col-auto" *ngIf="showNotifyByEmailEdit">
				<div
					class="row align-items-center justify-content-start no-gutters"
				>
					<div class="col">
						<app-bl-common-toggle-button
							[(value)]="notfifyByEmail"
							(update)="onNotifyByEmailUpdate($event)"
						></app-bl-common-toggle-button>
					</div>
					<div class="col ml-2">
						<fa-icon icon="envelope"></fa-icon>
					</div>
				</div>
			</div>
			<div class="col-auto">
				<h3 class="card-title text-center text-secondary">
					<fa-icon [icon]="'shopping-cart'"></fa-icon>
				</h3>
			</div>
			<div class="col-auto">
				<button
					class="btn btn-outline-secondary btn-sm"
					(click)="onClearCart()"
				>
					<fa-icon [icon]="'trash-alt'"></fa-icon>
				</button>
			</div>
		</div>
		<div class="row justify-content-end"></div>
	</div>

	<ul class="list-group list-group-flush">
		<li
			class="list-group-item list-group-item-secondary text-center"
			*ngIf="cart.length <= 0"
		>
			<fa-icon icon="exclamation-circle" class="mr-2"></fa-icon>
			<span i18n="@@cartListCartIsEmpty">Cart is empty</span>
		</li>
		<li class="list-group-item" *ngFor="let cartItem of cart">
			<app-cart-list-item [cartItem]="cartItem"></app-cart-list-item>
		</li>
	</ul>
	<div class="card-footer" *ngIf="totalPriceInformation">
		<div
			class="row justify-content-between align-items-center text-secondary"
		>
			<div class="col-3">
				<button
					class="btn btn-block"
					[disabled]="cart.length <= 0"
					[ngClass]="{'btn-success': cart.length > 0, 'btn-outline-secondary': cart.length <= 0}"
					(click)="onShowConfirm(confirmCartContent)"
				>
					<fa-icon
						icon="flag-checkered"
						class="mr-2"
						*ngIf="cart.length > 0"
					></fa-icon>
					<span i18n="@@blConfirmButton">Confirm</span>
				</button>
			</div>
			<div class="col-auto text-right">
				<div class="font-weight-bold bl-text-xl text-black">
					{{ totalPriceInformation.amount | blcPrice }}
				</div>
				<div class="bl-text-sm">
					<span i18n="@@cartListTotalWithPartlyPayments"
						>Total to pay including partly payments</span
					>: {{ totalPriceInformation.amountLeftToPay | blcPrice }}
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #confirmCartContent let-c="close" let-d="dismiss">
	<app-checkout
		(done)="onCartConfirm()"
		(dismiss)="onDismiss()"
	></app-checkout>
</ng-template>
