@import "../../styles";

.bl-sidebar {
	padding-top: 5px;
	height: 100%;
	min-height: calc(100vh - 38px);
	background-color: $secondary-color;
	width: 50px;
}

.bl-version {
	bottom: 0;
	position: absolute;
	font-size: 10px;
	color: #307c75;
	text-align: center;
	align-self: flex-end;
	width: inherit;
	margin-botton: 0;
}

.bl-version-name {
	font-weight: bold;
}

.bl-version-dev {
	color: red;
	background-color: $dev-color;
}
