<div class="bl-sidebar" *ngIf="getHasSelectedBranch">
	<span *ngFor="let sidebarLink of sidebarLinks">
		<app-side-bar-button
			*ngIf="!sidebarLink.hide"
			[icon]="sidebarLink.icon"
			[link]="sidebarLink.link"
			[notification]="sidebarLink.notification"
			[selected]="sidebarLink.selected"
			[color]="sidebarLink.color"
			[customerId]="sidebarLink.customerId"
		></app-side-bar-button>
	</span>
	<div class="bl-version" [ngClass]="{ 'bl-version-dev': isDevEnvironment }">
		<div class="bl-version-name">{{ bladminVersionName }}</div>
		<div>{{ bladminVersion }}</div>
	</div>
</div>
