<div class="row">
	<div class="col-12">
		<ul class="list-group">
			<li class="list-group-item text-center" *ngIf="wait">
				<fa-icon [spin]="true" icon="circle-notch"></fa-icon>
			</li>
			<li
				class="list-group-item text-center"
				*ngIf="!wait && companies.length <= 0"
			>
				<span i18n="@@companyInvoiceNotFound">No companies found</span>
			</li>
			<li class="list-group-item" *ngFor="let company of companies">
				<div class=" row justify-content-between">
					<span class="col-auto">
						<h5>{{ company.name }}</h5>
					</span>
					<span class="col-auto">
						<button
							type="button"
							class="btn btn-sm btn-outline-danger"
							(click)="removeCompany(company.id)"
						>
							remove
						</button>
					</span>
				</div>

				<div class="row justify-content-between">
					<small class="col-auto">
						<fa-icon [icon]="'building'"></fa-icon>
						{{ company.organizationNumber }}</small
					>

					<small class="col-auto">
						<fa-icon [icon]="'address-card'"></fa-icon>
						{{ company.contactInfo.address }}
						{{ company.contactInfo.postCode }}
						{{ company.contactInfo.postCity }}
					</small>
				</div>
			</li>
		</ul>
	</div>
</div>
