<div class="row justify-content-between align-items-center bl-cart-list-item">
	<div class="col-auto">
		<h5>{{ cartItem.item.title }}</h5>
	</div>
	<div class="col-auto text-right">
		<app-cart-list-item-amount
			[orderItem]="cartItem.orderItem"
			[originalOrderItem]="cartItem.originalOrderItem"
			[originalOrder]="cartItem.originalOrder"
			[delivery]="delivery"
		></app-cart-list-item-amount>
	</div>
</div>
<div
	class="row justify-content-between align-items-center mt-2 bl-cart-list-item"
>
	<div class="col-auto">
		<app-cart-list-item-action
			[cartItem]="cartItem"
			(actionChange)="onActionChange($event)"
		></app-cart-list-item-action>
	</div>
	<div class="col-auto">
		<button class="btn btn-sm btn-outline-secondary" (click)="remove()">
			<fa-icon [icon]="'times'"></fa-icon>
		</button>
	</div>
</div>
<div
	class="row justify-content-between align-item-center mt-2"
	*ngIf="cartItem.orderItem.type === 'partly-payment'"
>
	<div class="col-auto">
		<app-cart-list-item-age
			[cartItem]="cartItem"
			(itemAgeChange)="onItemAgeChange($event)"
		></app-cart-list-item-age>
	</div>
</div>
