<div class="row justify-content-between align-items-center bl-cart-list-item">
	<div class="col-auto">
		<div class="d-flex align-items-center">
			<span
				class="badge badge-info bl-text-xs mr-2"
				*ngIf="cartItem.getCustomerItemId()"
				><fa-icon icon="user"></fa-icon
			></span>

			<span
				class="badge badge-warning bl-text-xs mr-2"
				*ngIf="cartItem.getMovedFromOrderId()"
				><fa-icon icon="receipt"></fa-icon>
			</span>
			<strong> {{ title }}</strong>
		</div>

		<div>
			<span
				class="badge badge-pill badge-secondary bl-text-xs"
				*ngIf="!cartItem.getBLID()"
				>ISBN: {{ cartItem.getISBN() }}</span
			>

			<app-blc-blid
				[blid]="cartItem.getBLID()"
				*ngIf="cartItem.getBLID()"
			></app-blc-blid>

			<span
				class="badge bl-digital-bg text-white bl-text-xs ml-2"
				*ngIf="cartItem.isDigital()"
				i18n="@@cartListItemDigitalBadge"
				>Digital</span
			>
		</div>
	</div>
	<div class="col-auto text-right">
		<app-cart-list-item-amount
			[cartItem]="cartItem"
		></app-cart-list-item-amount>
	</div>
</div>
<div
	class="row justify-content-between align-items-center mt-2 bl-cart-list-item"
>
	<div class="col-auto">
		<app-cart-list-item-action
			[cartItem]="cartItem"
		></app-cart-list-item-action>
	</div>
	<div class="col-auto">
		<button class="btn btn-sm btn-outline-secondary" (click)="onRemove()">
			<fa-icon [icon]="'times'"></fa-icon>
		</button>
	</div>
</div>
<!--
<div
	class="row justify-content-between align-item-center mt-2"
	*ngIf="cartItem.getAction().action === 'partly-payment'"
>
	<div class="col-auto">
		<app-cart-list-item-age [cartItem]="cartItem"></app-cart-list-item-age>
	</div>
</div>
-->
