<div class="row justify-content-between align-items-center bl-cart-list-item">
	<div class="col-auto">
		<div><strong>{{ title }}</strong></div>

		<div>
			<a
				href="#"
				class="badge badge-pill badge-primary bl-text-xs mr-2"
				*ngIf="cartItem.getBLID()"
				>BLID: {{cartItem.getBLID()}}</a
			>

			<a href="#" class="badge badge-pill badge-secondary bl-text-xs"
				>ISBN: {{cartItem.getISBN()}}</a
			>

			<a
				href="#"
				class="ml-2 badge badge-pill badge-info bl-text-xs"
				*ngIf="cartItem.getCustomerItemId()"
				><fa-icon icon="user" class="mr-2"></fa-icon
				>{{cartItem.getCustomerItemId()}}</a
			>

			<a
				href="#"
				class="ml-2 badge badge-pill badge-warning bl-text-xs"
				*ngIf="cartItem.getMovedFromOrderId()"
				><fa-icon icon="receipt" class="mr-2"></fa-icon>
				{{cartItem.getMovedFromOrderId()}}</a
			>
		</div>
	</div>
	<div class="col-auto text-right">
		<app-cart-list-item-amount
			[cartItem]="cartItem"
		></app-cart-list-item-amount>
	</div>
</div>
<div
	class="row justify-content-between align-items-center mt-2 bl-cart-list-item"
>
	<div class="col-auto">
		<app-cart-list-item-action
			[cartItem]="cartItem"
		></app-cart-list-item-action>
	</div>
	<div class="col-auto">
		<button class="btn btn-sm btn-outline-secondary" (click)="onRemove()">
			<fa-icon [icon]="'times'"></fa-icon>
		</button>
	</div>
</div>
<!--
<div
	class="row justify-content-between align-item-center mt-2"
	*ngIf="cartItem.getAction().action === 'partly-payment'"
>
	<div class="col-auto">
		<app-cart-list-item-age [cartItem]="cartItem"></app-cart-list-item-age>
	</div>
</div>
-->
