<div class="container" *ngIf="invoice">
	<div class="row mb-2">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<span i18n="@@invoiceDetailHeaderTitle"> Invoice </span>
					<span class="float-right">
						<fa-icon icon="hashtag"></fa-icon>
						{{ invoice.invoiceId }}</span
					>
				</div>
				<div class="card-body">
					<div class="row justify-content-between">
						<div class="col-auto">
							<span i18n="@@invoiceDetailDeadline">Deadline</span>
						</div>
						<div class="col-auto">
							<span class="float-right font-weight-bold">{{
								invoice.duedate | blDate
							}}</span>
						</div>
					</div>

					<div class="row justify-content-between">
						<div
							class="col-auto"
							i18n="@@invoiceDetailCustomerHavePayed"
						>
							Invoice payed
						</div>
						<div class="col-auto">
							<app-bl-common-toggle-button
								class="align-middle float-right"
								[value]="invoice.customerHavePayed"
								(valueChange)="
									onCustomerHavePayedChange($event)
								"
								confirmMessage="Er du sikker på at du vil endre betalingsstatus?"
							>
							</app-bl-common-toggle-button>
						</div>
					</div>

					<div class="row justify-content-between">
						<div
							class="col-auto"
							i18n="@@invoiceDetailToCreditNote"
						>
							Invoice to credit note
						</div>
						<div class="col-auto">
							<app-bl-common-toggle-button
								class="align-middle float-right"
								[value]="invoice.toCreditNote"
								(valueChange)="onInvoiceToCreditNote($event)"
							>
							</app-bl-common-toggle-button>
						</div>
					</div>

					<div class="row justify-content-between">
						<div
							class="col-auto"
							i18n="@@invoiceDetailInvoiceToDebtCollection"
						>
							Invoice to debt collection
						</div>
						<div class="col-auto">
							<app-bl-common-toggle-button
								class="align-middle float-right"
								[value]="invoice.toDebtCollection"
								(valueChange)="
									onInvoiceToDebtCollection($event)
								"
							>
							</app-bl-common-toggle-button>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto">Faktura er tapsført</div>
						<div class="col-auto">
							<app-bl-common-toggle-button
								class="align-middle float-right"
								[value]="invoice.toLossNote"
								(valueChange)="onInvoiceToLossNote($event)"
							>
							</app-bl-common-toggle-button>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto" i18n="@@invoiceDetailName">
							Name
						</div>
						<div class="col-auto">
							<span
								class="float-right bl-link-black"
								[routerLink]="'/customer/detail'"
								[queryParams]="{
									customerId: invoice.customerInfo.userDetail
								}"
								>{{ invoice.customerInfo.name }}</span
							>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto" i18n="@@invoiceDetailBranch">
							Branch
						</div>
						<div class="col-auto">
							<span class="float-right bl-link-black">{{
								invoice.branch | branchName | async
							}}</span>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto">
							<span i18n="@@invoiceDetailAddress">Address</span>
						</div>
						<div class="col-auto">
							<span class="float-right"
								>{{ invoice.customerInfo.postal.address }},
								{{ invoice.customerInfo.postal.code }}
								{{ invoice.customerInfo.postal.city }}
							</span>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto">
							<span i18n="@@invoiceDetailPhone">Phone</span>
						</div>
						<div class="col-auto">
							<span class="float-right">{{
								invoice.customerInfo.phone
							}}</span>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto">
							<span i18n="@@invoiceDetailEmail">Email</span>
						</div>
						<div class="col-auto">
							<span class="float-right">{{
								invoice.customerInfo.email
							}}</span>
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-auto">
							<span i18n="@@invoiceDetailCreationTime"
								>Creation time</span
							>
						</div>
						<div class="col-auto">
							<span class="float-right">{{
								invoice.creationTime | blDate
							}}</span>
						</div>
					</div>

					<table
						class="table table-hover table-borderless table-sm mt-3"
					>
						<thead>
							<tr>
								<th scope="col" i18n="@@invoiceDetailItemTitle">
									Title
								</th>

								<th scope="col">x</th>
								<th
									scope="col"
									i18n="@@invoiceDetailItemUnitPrice"
								>
									Unit price
								</th>

								<th
									scope="col"
									i18n="@@invoiceDetailItemDiscount"
								>
									Discount
								</th>

								<th scope="col" i18n="@@invoiceDetailItemGross">
									Gross
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="
									let customerItemPayment of invoice.customerItemPayments;
									let i = index
								"
								[ngbTooltip]="customerItemPaymentContent"
								[ngClass]="{
									'bl-cancel-line': customerItemPayment.cancel
								}"
							>
								<th scope="row">
									{{ customerItemPayment.title }}
								</th>
								<td>{{ customerItemPayment.numberOfItems }}</td>
								<td>
									{{
										customerItemPayment.payment.unit
											| blcPrice
									}}
								</td>
								<td>
									{{ customerItemPayment.payment.discount }} %
								</td>

								<td>
									{{
										customerItemPayment.payment.gross
											| blcPrice
									}}
								</td>
								<td>
									<button
										class="btn btn-link float-right"
										(click)="onCustomerItemPaymentCancel(i)"
									>
										<span
											i18n="@@invoiceDetailCancel"
											*ngIf="!customerItemPayment.cancel"
											>cancel</span
										>
										<span
											i18n="@@invoiceDetailUndo"
											*ngIf="customerItemPayment.cancel"
											>undo</span
										>
									</button>
								</td>
							</tr>
							<tr class="table-light font-italic">
								<td
									i18n="@@invoiceDetailItemsTotal"
									colspan="4"
								>
									Items total
								</td>
								<td>
									{{
										invoice.payment.totalIncludingFee
											| blcPrice
									}}
								</td>
								<td></td>
							</tr>
							<tr
								class="table-light font-italic"
								[ngbTooltip]="invoiceFeeContent"
							>
								<td
									i18n="@@invoiceDetailFee"
									*ngIf="invoice.payment.fee"
								>
									Fee
								</td>
								<td *ngIf="invoice.payment.fee">
									{{ invoice.payment.fee.gross | blcPrice }}
								</td>
							</tr>
							<tr class="table-secondary">
								<th colspan="4">Total</th>
								<th>
									{{
										invoice.payment.totalIncludingFee
											| blcPrice
									}}
								</th>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row"><div class="col"></div></div>
</div>

<ng-template #customerItemPaymentContent>
	<div>
		<div i18n="@@invoiceDetailCustomerItemPayment" class="bl-text-sm">
			The full price of item * a set fee percentage
		</div>
	</div>
</ng-template>

<ng-template #invoiceFeeContent>
	<div>
		<div i18n="@@invoiceDetailInvoiceFeeContent" class="bl-text-sm">
			A set fee * number of items
		</div>
	</div>
</ng-template>
