<div class="container">
  <div class="row">
    <div class="col" *ngIf="invoice">
      Invoice Number: {{invoice.invoiceId}}
     <div>
     <div class="col">
       Total Gross amount: {{invoice.payment.total.gross | blcPrice}}
     </div>

     <div class="col">
       Total Fee amount: {{invoice.payment.fee.gross | blcPrice}}
     </div>
  </div>
  <div class="row">
    <div class="col">
		<table class="table table-sm table-hover table-striped">
			<thead>
				<tr>
					<th scope="col" i18n="@@invoiceTableItemName">Title</th>
					<th scope="col" i18n="@@invoiceTableItemDeadline">
						Amount
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let customerItemPayment of invoice.customerItemPayments">
          <td>{{customerItemPayment.title}}</td>
          <td>{{customerItemPayment.payment.gross | blcPrice}}</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
