<div class="container-fluid">
	<div class="row align-items-center bl-header justify-content-between">
        <div class="col-md-5 col-sm-4" routerLink="home">
            <img src="../../assets/img/boklisten_logo_v2_icon_white_lg.png" height="40" width="40">
			<b class="bl-logo-text">bladmin</b>
        </div>
		<div class="col-1">
			<div class="row">
				<div class="col-12">
					<fa-icon [icon]="'user-circle'" size="2x" class="bl-header-button" routerLink="/user"></fa-icon>
				</div>
			</div>
		</div>
	</div>
</div>
