@import "../../styles";

.bl-header {
	width: 100vm;
	background-color: $primary-color;
	//background-color: $secondary-color;
	height: 38px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 20px;
}

.bl-header-logo {
	min-width: 50px;
	padding-left: 10px;
	//background-color: $primary-color;
	flex: 0 0;
}

.bl-header-customer-current {
	flex: 0 0 auto;
	padding-left: 0px;
}

.bl-header-search-bar {
	flex: 1 0 auto;
	padding-right: 5px;
}

.bl-header-branch-current {
	flex: 0 0 auto;
	padding-right: 20px;
}

.bl-logo-text {
	margin-left: 3px;
	color: #ffffff;
	font-family: "Courier New";
	cursor: pointer;
}

.bl-logo-text:hover {
	text-decoration: underline;
}

.bl-header-button {
	cursor: pointer;
}

.bl-header-button:hover {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

.bl-header-location {
	font-weight: bold;
	text-align: center;
}
