@import "../../styles";

.bl-header {
	width: 100vm;
	background-color: $primary-color;
	//background-color: $secondary-color;
	height: 50px;
}

.bl-header-logo {
	min-width: 50px;
	padding: 5px;
	//background-color: $primary-color;
}

.bl-logo-text {
	margin-left: 3px;
	color: #ffffff;
	font-family: "Courier New";
	cursor: pointer;
}

.bl-logo-text:hover {
	text-decoration: underline;
}

.bl-header-button {
	cursor: pointer;
}

.bl-header-button:hover {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

.bl-header-location {
	font-weight: bold;
	text-align: center;
}
