<div class="container-fluid">
	<div class="row align-items-center bl-header">
        <div class="col-md-3 col-sm-3 col-2" routerLink="home">
            <img src="../../assets/img/boklisten_logo_v2_icon_white_lg.png" height="40" width="40">
			<b class="bl-logo-text d-sm-inline d-none">bladmin</b>
        </div>

		<div class="col-md-8 col-sm-9 col-10">
			<div class="row align-items-center justify-content-md-end">
				<div class="col-auto">
					<app-customer-current></app-customer-current>
				</div>
				<div class="col-3">
					<app-bl-search-bar [design]="'dark'" [searchFieldId]="headerCustomerSearchId" [small]="true" [placeholder]="'Customer search'" [wait]="wait" [term]="searchTerm" (search)="onCustomerSearch($event)"></app-bl-search-bar>
				</div>
				<div class="col-auto">
					<div ngbDropdown class="bl-header-location d-inline-block" *ngIf="currentBranch">
                        <button class="btn btn-outline-dark" id="branchDropdown" ngbDropdownToggle>
                            <fa-icon [icon]="'location-arrow'" class="mr-2"></fa-icon>
							<span class="d-md-inline d-none">{{currentBranch.name}}</span>
                        </button>
                        <div ngbDropdownMenu>
							<button
								class="dropdown-item"
								*ngFor="let branch of branches"
								(click)="onSelectBranch(branch)"
								[ngClass]="{'btn-secondary': (currentBranch && currentBranch.id === branch.id), 'btn-outline-secondary': (!currentBranch|| currentBranch.id !== branch.id)}">
								<fa-icon [icon]="'check'" *ngIf="(currentBranch && currentBranch.id === branch.id)"></fa-icon> {{branch.name}}
							</button>
                        </div>
					</div>
				</div>
				<div class="col-auto">
					<div ngbDropdown placement="bottom" class="bl-header-location d-inline-block">
						<fa-icon [icon]="'user-'" size="2x" class="bl-header-button" ngbDropdownToggle *ngIf="permission === 'employee'"></fa-icon>
						<fa-icon [icon]="'user-tie'" size="2x" class="bl-header-button" ngbDropdownToggle *ngIf="permission === 'manager'"></fa-icon>
						<fa-icon [icon]="'user-astronaut'" size="2x" class="bl-header-button" ngbDropdownToggle *ngIf="permission === 'admin'"></fa-icon>
						<fa-icon [icon]="'user-secret'" size="2x" class="bl-header-button" ngbDropdownToggle *ngIf="permission === 'super'"></fa-icon>
                        <div ngbDropdownMenu>
							<div class="dropdown-item text-muted disabled">
								<div>{{username}}</div>
								<small>
									<span class="mr-2">
										<fa-icon [icon]="'user'" *ngIf="permission === 'employee'"></fa-icon>
										<fa-icon [icon]="'user-tie'" *ngIf="permission === 'manager'"></fa-icon>
										<fa-icon [icon]="'user-astronaut'" *ngIf="permission === 'admin'"></fa-icon>
										<fa-icon [icon]="'user-secret'" *ngIf="permission === 'super'"></fa-icon>
									</span>
									<span>{{userPermission}}</span>
								</small>
							</div>

							<div class="dropdown-divider"></div>

							<button class="dropdown-item" routerLink="/auth/register/detail">
								<fa-icon [icon]="'user-cog'" class="mr-2"></fa-icon> Edit user details
							</button>

							<div class="dropdown-divider"></div>

							<button class="dropdown-item text-danger" (click)="onUserLogout()">
								<fa-icon [icon]="'sign-out-alt'" class="mr-2"></fa-icon> Log out
							</button>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
