<div class="modal-header"></div>
<div class="modal-body">
	<div *ngIf="!confirmed">
		<div class="row">
			<div class="col-auto" i18n="@@messengerReminderModalShouldSendMessageTo">
				Should send message to {{ customerIds.length }} customers
			</div>
		</div>
		<div class="row">
			<div class="col" i18n="@@messengerReminderModalDeadline">deadline: {{ deadline | blDate }}</div>
		</div>
	</div>

	<div *ngIf="confirmed && !remindersDone">
		<div class="row">
			<div class="col-12 mb-2 text-center">
				<span i18n="@@messengerReminderModalSendingMessageTo">Sending message to {{ customerIds.length }} customers</span>
			</div>
			<div class="col-12">
				<ngb-progressbar
					[value]="progressbarValue"
					[height]="50"
					[striped]="true"
					[animated]="true"
					[showValue]="true"
					[max]="progressbarValueFull"
				></ngb-progressbar>
			</div>
		</div>
	</div>
</div>

<div *ngIf="remindersDone">
  <div class="row" *ngIf="failedMessages.length > 0">
		<div class="col-12" i18n="@@messengerReminderModalNumberOfSuccessfullMessages">
      Number of successfull messages: {{ successfullMessages }}
    </div>
		<div class="col-12" i18n="@@messengerReminderModalNumberOfFailedMessages">
			<div>Number of failed messages: {{ failedMessages.length }}</div>

			<button
				class="btn btn-outline-secondary"
				(click)="retryFailedMessages()"
        i18n="@@messengerReminderModalRetryFailedMessagesButton"
			>
				retry failed messages
			</button>
		</div>
	</div>

  <div class="row justify-content-center mb-2" *ngIf="failedMessages.length <= 0">
    <div class="col-auto">
      <fa-icon icon="check-circle" class="text-success" size="5x"></fa-icon>
    </div>
  </div>
</div>


<div class="modal-footer">
	<div class="row">
		<div class="col-12">
			<button
				class="btn btn-success btn-block"
				i18n="@@messengerReminderConfirmButton"
				(click)="onConfirm()"
			>
				Confirm
			</button>
		</div>
	</div>
</div>
