<div class="card">
	<div class="card-header text-center"><h5>Customer</h5></div>
	<ul class="list-group list-group-flush" *ngIf="wait">
		<li class="list-group-item list-group-item-warning text-center">
			<fa-icon icon="circle-notch" spin="true"></fa-icon>
		</li>
	</ul>
	<ul class="list-group list-group-flush" *ngIf="customerDetail && !wait">
		<li
			class="list-group-item bg-success text-white text-center"
			*ngIf="customerDetailUpdated"
		>
			<span i18n="@@customerDetailCardUserDetailWasUpdated"
				>User details was updated!</span
			>
		</li>
		<li class="list-group-item">
			<h4>{{ customerDetail.name }}</h4>
		</li>
		<li class="list-group-item">
			<small>
				<fa-icon [icon]="'at'" class="mr-2"></fa-icon>
				{{ customerDetail.email }}
			</small>
		</li>
		<li class="list-group-item">
			<small>
				<fa-icon [icon]="'phone'" class="mr-2"></fa-icon>
				{{ customerDetail.phone }}
			</small>
		</li>
		<li class="list-group-item">
			<small>
				<fa-icon [icon]="'address-card'" class="mr-2"></fa-icon>
				{{ customerDetail.address }} {{ customerDetail.postCode }}
				{{ customerDetail.postCity }}
			</small>
		</li>
		<li class="list-group-item">
			<small>
				<fa-icon [icon]="'birthday-cake'" class="mr-2"></fa-icon>
				<span *ngIf="customerDetail.dob">{{
					customerDetail.dob | blDate
				}}</span>
				<span
					*ngIf="!customerDetail.dob"
					i18n="@@customerDetailCartDobNotProvided"
					class="text-danger"
					>date of birth not provided</span
				>
			</small>
		</li>

		<li
			class="list-group-item list-group-item-dark"
			*ngIf="customerDetail.guardian.name"
		>
			<small>
				<div class="text-center">
					<h5 i18n="@@customerDetailCardGuardian">Guardian</h5>
				</div>
				<div>
					<fa-icon [icon]="'user'" class="mr-2"></fa-icon>
					{{ customerDetail.guardian.name }}
				</div>
				<div>
					<fa-icon [icon]="'at'" class="mr-2"></fa-icon>
					{{ customerDetail.guardian.email }}
				</div>
				<div>
					<fa-icon [icon]="'phone'" class="mr-2"></fa-icon>
					{{ customerDetail.guardian.phone }}
				</div>
			</small>
		</li>

		<li class="list-group-item">
			<small>
				<fa-icon [icon]="'qrcode'" class="mr-2"></fa-icon>
				{{ customerDetail.id }}
			</small>
		</li>
		<li class="list-group-item" *ngIf="showGuardian">
			<small>
				<a
					target="_blank"
					href="https://boklisten.no/signering/{{
						customerDetail.id
					}}"
				>
					https://boklisten.no/signering/{{ customerDetail.id }}
				</a>
			</small>
		</li>
	</ul>
	<div class="card-footer" *ngIf="!wait">
		<app-customer-detail-modal
			[customerDetail]="customerDetail"
			(updated)="onCustomerDetailUpdated()"
		></app-customer-detail-modal>
	</div>
</div>
