<div class="mt-2">
	<div class="row">
		<div class="col mb-2">
			<app-blc-branch-select
				(selectBranches)="onSelectBranches($event)"
			></app-blc-branch-select>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-auto">
			<app-messenger-sequence-picker
				[messageType]="selectedType"
				(sequencePicked)="onSequencePicked($event)"
			>
			</app-messenger-sequence-picker>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">
			<app-blc-deadline-select
				[(deadline)]="deadline"
			></app-blc-deadline-select>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col">
			<app-blc-textblock-edit
				[(textBlocks)]="textBlocks"
			></app-blc-textblock-edit>
		</div>
	</div>
	<div class="row" *ngIf="noCustomerItemsFoundError">
		<div class="col">
			<app-bl-common-alert
				[type]="'secondary'"
				i18n-text="@@messengerReminderNoCustomerItemsFound"
				text="No customerItems found"
			>
			</app-bl-common-alert>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button
				class="btn btn-outline-secondary btn-block"
				(click)="openSendRemindersModal()"
			>
				<span *ngIf="!loading">
					<fa-icon [icon]="'paper-plane'" class="mr-2"></fa-icon>
					<span i18n="@@messengerReminderSendMatchMessages"
						>Send match messages</span
					>
				</span>
				<fa-icon
					[icon]="'atom'"
					[spin]="true"
					*ngIf="loading"
				></fa-icon>
			</button>
		</div>
	</div>
</div>
