@import "../../../../styles";

.bl-customer-order-list-item {
	border: 1px solid $border-color;
	border-bottom: 0;
	padding: 4px;
}

.bl-customer-order-list-item:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bl-customer-order-list-item:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom: 1px solid $border-color;
}
