<div class="center">
	<h1>Bulk-innsamling</h1>
	<div style="text-align: center" *ngIf="currentBranch && !showReceipt">
		<span>Du samler nå inn på</span>
		<div
			style="
				display: flex;
				background-color: #3387a1;
				border-radius: 2%;
				align-items: center;
				padding: 0.4rem;
				color: white;
				margin-bottom: 1rem;
			"
		>
			<fa-icon [icon]="'store'"></fa-icon>
			<span style="margin-left: 0.3rem">{{ currentBranch.name }}</span>
		</div>
	</div>
	<app-unique-item-searchbar
		*ngIf="!showReceipt"
		(onSearch)="registerBlid($event)"
		class="w-50 bg-white"
	></app-unique-item-searchbar>
	<p *ngIf="!showReceipt && scannedBooks.length == 0">
		Scan en bok for å starte
	</p>
	<table
		*ngIf="!showReceipt && scannedBooks.length > 0"
		class="table table-striped w-50"
	>
		<thead>
			<tr>
				<th scope="col">Tittel</th>
				<th scope="col">Frist</th>
				<th scope="col">Lånt av</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of scannedBooks">
				<td>
					<app-book-detail-modal
						[scannedBook]="book"
					></app-book-detail-modal>
				</td>
				<td [title]="deadlineHasPassed(book.deadline) ? 'Fristen har utløpt!' : 'Fristen har ikke utløpt'">
					<fa-icon
						*ngIf="deadlineHasPassed(book.deadline)"
						icon="exclamation-circle"
						class="text-danger"
					></fa-icon>
					<span> {{ book.deadline }} </span>
					<fa-icon
						*ngIf="deadlineHasPassed(book.deadline)"
						icon="exclamation-circle"
						class="text-danger"
					></fa-icon>
				</td>
				<td>
					{{ book.customerName }}
					<button
						(click)="warnBeforeRedirect(book.customerId)"
						class="btn"
					>
						<fa-icon icon="user-circle"></fa-icon>
					</button>
				</td>
				<td class="table-delete">
					<button
						class="btn btn-danger"
						(click)="removeBook(book.blid)"
					>
						Fjern
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button
		*ngIf="!showReceipt && scannedBooks.length > 0"
		class="btn btn-primary submitBtn"
		(click)="deliverBooks()"
		[attr.disabled]="waiting ? true : null"
	>
		Lever
		{{ scannedBooks.length }}
		{{ scannedBooks.length > 1 ? "bøker" : "bok" }}
		<fa-icon
			*ngIf="waiting"
			[icon]="'circle-notch'"
			[spin]="true"
		></fa-icon>
	</button>
	<app-bulk-history *ngIf="!showReceipt"></app-bulk-history>
	<div *ngIf="showReceipt" class="receipt">
		<p>Totalt antall leverte bøker: {{ separatedBooks.flat().length }}</p>
		<button class="btn btn-primary submitBtn" (click)="reset()">
			Scan flere
		</button>
		<h5>Kvittering</h5>
		<app-user-order-summary
			*ngFor="let userItems of separatedBooks"
			[userBooks]="userItems"
			[remainingBooks]="
				customerRemainingBooksDict[userItems[0].customerId] || []
			"
			[isHistory]="false"
		></app-user-order-summary>
	</div>
</div>
