.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.table-delete {
	background-color: white;
	border-top: none;
}

td {
	vertical-align: middle;
}

.receipt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.receipt button {
	flex-grow: 0;
}

.submitBtn {
	margin-bottom: 1rem;
}
