<app-bl-search-bar
	#customerSearchBar
	[design]="'dark'"
	[searchFieldId]="headerCustomerSearchId"
	[small]="true"
	i18n-placeholder="@@headerCustomerSearch"
	placeholder="Customer search"
	[wait]="wait"
	[term]="searchTerm"
	(search)="onCustomerSearch($event)"
	(click)="onSearchBarClick()"
	(focus)="onSearchBarFocus()"
></app-bl-search-bar>
<app-customer-search-result
	#customerSearchResult
	class="bl-header-customer-search-result"
	*ngIf="showSearchResult"
	(clicked)="onSearchResultClick($event)"
></app-customer-search-result>
