

<div class="row">

	<div class="col-12">
		<div class="card">
			<div class="card-header">
				Payments
			</div>
			<div class="card-body" *ngIf="warningText || wait || noPaymentsFoundText">
				<app-bl-common-alert [type]="'warning'" *ngIf="warningText" [text]="warningText" (exit)="warningText = null"></app-bl-common-alert>
				<app-bl-common-update-button [wait]="wait" *ngIf="wait"></app-bl-common-update-button>
				<app-bl-common-alert [type]="'secondary'" *ngIf="noPaymentsFoundText" [text]="noPaymentsFoundText" (exit)="noPaymentsFoundText = null"></app-bl-common-alert>
			</div>

			<ul class="list-group">
                <li class="list-group-item" *ngFor="let payment of payments">
					<div class="list-group">
						<div class="list-group-item" *ngIf="payment.method !== 'later'">
							<span *ngIf="payment.confirmed"><fa-icon [icon]="'check'" class="mr-2"></fa-icon> Confirmed</span>
							<span *ngIf="!payment.confirmed" class="text-danger"><fa-icon [icon]="'times'" class="mr-2"></fa-icon> Not Confirmed</span>
                        </div>
                        <div class="list-group-item">
                            {{payment.amount | blcPrice}}
							<span *ngIf="payment.method === 'cash'"><fa-icon [icon]="'money-bill-alt'" class="mr-2 ml-2"></fa-icon> Cash</span>
							<span *ngIf="payment.method === 'dibs'"><fa-icon [icon]="'credit-card'" class="mr-2 ml-2"></fa-icon> Dibs</span>
							<span *ngIf="payment.method === 'vipps'" class="ml-2 font-weight-bold">Vipps</span>
							<span *ngIf="payment.method === 'card'"><fa-icon [icon]="'credit-card'" class="mr-2 ml-2"></fa-icon> Card</span>
							<span *ngIf="payment.method === 'later'" class="text-danger"><fa-icon [icon]="'exclamation-triangle'" class="mr-2 ml-2"></fa-icon> Not payed yet</span>
                        </div>
						<div class="list-group-item">
                            <fa-icon [icon]="'warehouse'" class="mr-2"></fa-icon> {{payment.branch | branchName | async}}
                        </div>
					</div>
                </li>
            </ul>

			<div class="card-footer">
				<div class="row">
					<div class="col-auto ml-auto">
						{{calculateTotalAmount() | blcPrice}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
