<div class="row" *ngIf="order">
	<div class="col-12">
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngIf="order.placed">
					<fa-icon [icon]="'check'" class="mr-2"></fa-icon>
					<span i18n="@@orderDetailCardConfirmed">Confirmed</span>
				</li>
				<li class="list-group-item text-danger" *ngIf="!order.placed">
					<fa-icon [icon]="'times'" class="mr-2"></fa-icon>
					<span i18n="@@orderDetailCardNotConfirmed"
						>Not Confirmed</span
					>
				</li>
				<li
					class="list-group-item list-group-item-action"
					routerLink="{{ '/customer/detail' }}"
					[queryParams]="{
						customerId: order.customer
					}"
				>
					<span class="bl-link-black"
						><fa-icon [icon]="'user'" class="mr-2"></fa-icon>
						{{ order.customer | customerName | async }}</span
					>
				</li>
				<li class="list-group-item" *ngIf="order.employee">
					<fa-icon [icon]="'user-circle'" class="mr-2"></fa-icon>
					{{ order.employee | customerName | async }}
				</li>
				<li class="list-group-item d-flex flex-row">
					<fa-icon [icon]="'warehouse'" class="mr-2"></fa-icon>
					<select
						*ngIf="isAdmin"
						[(ngModel)]="selectedBranch"
						class="form-control"
						(ngModelChange)="updateOrderBranch(selectedBranch)"
					>
						<option
							*ngFor="let branch of branches"
							value="{{ branch.id }}"
						>
							<fa-icon class="mr-2"></fa-icon>
							{{ branch.name }}
						</option>
					</select>
					<p *ngIf="!isAdmin">
						{{ order.branch | branchName | async }}
					</p>
				</li>
				<li class="list-group-item">
					<fa-icon [icon]="'clock'" class="mr-2"></fa-icon>
					{{ order.creationTime | blDate: "timestamp" }}
				</li>
				<li class="list-group-item">
					<fa-icon [icon]="'qrcode'" class="mr-2"></fa-icon>
					{{ order.id }}
				</li>
			</ul>
		</div>
	</div>
</div>
