<button
	class="btn btn-sm btn-outline-danger"
	*ngIf="customer && isAdmin"
	i18n="@@deleteCustomerButton"
	(click)="onDelete()"
>
	Delete customer
</button>

<ng-template #deleteCustomerModal let-c="close" let-d="dismiss">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">
				<span i18n="@@deleteCustomerTitle">Delete customer</span>:
				<strong class="ml-1">{{ customer.id }}</strong>
			</h5>
		</div>
		<div class="modal-body">
			<div class="alert alert-danger">
				<fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
				<span
					>Are you sure you want to delete this customer? This will
					permanently remove the customer from our database.</span
				>
			</div>

			<span
				>Please confirm by writing the Customer-ID into the input
				field</span
			>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<fa-icon icon="qrcode"></fa-icon>
					</span>
				</div>
				<input
					type="text"
					class="form-control"
					i18n-placeholder="@@deleteCustomerId"
					placeholder="Customer-ID"
					[(ngModel)]="customerIdInput"
					(ngModelChange)="onCustomerIdInputChange($event)"
				/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="alert alert-danger" *ngIf="showDeletionError">
			<fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
			<span i18n="@@customerDeleteFailed"
				>Failed to delete customer.</span
			>
			<div i18n="@@customerDeleteErrorsOccured" class="mt-2">
				Errors that may have occured:
			</div>
			<ul>
				<li i18n="@@customerDeleteActiveItems">
					The customer have active customer items
				</li>
				<li i18n="@@customerDeleteActiveOrders">
					The customer have orders that are payed for but not
					delivered
				</li>
				<li i18n="@@customerDeleteActiveInvoices">
					The customer has active invoices
				</li>
			</ul>
		</div>
		<button
			class="btn btn-danger"
			[disabled]="!canConfirm"
			(click)="onConfirmDeletion()"
		>
			Delete
		</button>
	</div>
</ng-template>
