
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-secondary">
                <h6>Rent periods</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let rentPeriod of branch.paymentInfo.rentPeriods; let i = index" [attr.data-index]="i">
                        <div class="row align-items-center">
                            <div class="col-10">
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Type
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-string-value
                                            [(value)]="rentPeriod.type"
                                            (update)="onUpdate()"></app-blc-edit-string-value>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Limit
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-number-value
                                            [(value)]="rentPeriod.maxNumberOfPeriods"
                                            (update)="onUpdate()"></app-blc-edit-number-value>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Percentage
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-number-value
                                            [(value)]="rentPeriod.percentage"
                                            (update)="onUpdate()"></app-blc-edit-number-value>
                                    </div>
                                </div>
								<div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
										Date
                                    </div>
                                    <div class="col-auto">
										<app-blc-edit-date-value
											[(value)]="rentPeriod.date"
											(update)="onUpdate()"></app-blc-edit-date-value>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end align-items-center">
                                    <div class="col-auto align-items-center align-content-center">
                                        <fa-icon [icon]="'times'" (click)="onRentPeriodDelete(i)"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-2" [ngClass]="{'justify-content-end': branch.paymentInfo.rentPeriods.length > 0}">
            <div class="col-auto" [ngClass]="{'col-12': branch.paymentInfo.rentPeriods.length <= 0}">
                <button class="btn btn-sm btn-outline-success" (click)="onRentPeriodAdd()" [ngClass]="{'btn-block': branch.paymentInfo.rentPeriods.length <= 0}">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row mt-2">
    <div class="col-12">
        <div class="row text-secondary">
            <div class="col-12">
                <h6>Extend periods</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let extendPeriod of branch.paymentInfo.extendPeriods; let i = index" [attr.data-index]="i">
                        <div class="row align-items-center">
                            <div class="col-10">
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Type
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-string-value
                                            [(value)]="extendPeriod.type"
                                            (update)="onUpdate()"></app-blc-edit-string-value>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Limit
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-number-value
                                            [(value)]="extendPeriod.maxNumberOfPeriods"
                                            (update)="onUpdate()"></app-blc-edit-number-value>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
                                        Price
                                    </div>
                                    <div class="col-auto">
                                        <app-blc-edit-number-value
                                            [(value)]="extendPeriod.price"
                                            (update)="onUpdate()"></app-blc-edit-number-value>
                                    </div>
                                </div>
								<div class="row justify-content-between">
                                    <div class="col-auto text-dark font-weight-bold">
										Date
                                    </div>
                                    <div class="col-auto">
										<app-blc-edit-date-value
											[(value)]="extendPeriod.date"
											(update)="onUpdate()"></app-blc-edit-date-value>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row justify-content-end align-items-center">
                                    <div class="col-auto align-items-center align-content-center">
                                        <fa-icon [icon]="'times'" (click)="onExtendPeriodDelete(i)"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-2" [ngClass]="{'justify-content-end': branch.paymentInfo.extendPeriods.length > 0}">
            <div class="col-auto" [ngClass]="{'col-12': branch.paymentInfo.extendPeriods.length <= 0}">
                <button class="btn btn-sm btn-outline-success" (click)="onExtendPeriodAdd()" [ngClass]="{'btn-block': branch.paymentInfo.extendPeriods.length <= 0}">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-between mt-4">
    <div class="col-auto text-secondary">
        Buyout percentage
    </div>
    <div class="col-auto">
        <app-blc-edit-number-value
            [(value)]="branch.paymentInfo.buyout.percentage"
            (update)="onUpdate()"></app-blc-edit-number-value>
    </div>
</div>

<div class="row justify-content-between mt-4">
    <div class="col-auto text-secondary">
        Free delivery
    </div>
    <div class="col-auto">
        <app-bl-common-toggle-button [(value)]="branch.paymentInfo.responsibleForDelivery" (update)="onUpdate()"></app-bl-common-toggle-button>
    </div>
</div>

<div class="row justify-content-between mt-4">
    <div class="col-auto text-secondary">
        Delivery by mail
    </div>
    <div class="col-auto">
        <app-bl-common-toggle-button [(value)]="branch.deliveryMethods.byMail" (update)="onUpdate()"></app-bl-common-toggle-button>
    </div>
</div>

<div class="row justify-content-between mt-4">
    <div class="col-auto text-secondary">
        Delivery at branch
    </div>
    <div class="col-auto">
        <app-bl-common-toggle-button [(value)]="branch.deliveryMethods.branch" (update)="onUpdate()"></app-bl-common-toggle-button>
    </div>
</div>

<div class="row justify-content-between mt-4">
    <div class="col-auto text-secondary">
        Pay later
    </div>
    <div class="col-auto">
        <app-bl-common-toggle-button [(value)]="branch.paymentInfo.payLater" (update)="onUpdate()"></app-bl-common-toggle-button>
    </div>
</div>

<div class="row justify-content-between mt-2">
    <div class="col-auto text-secondary">
        Responsible for payment
    </div>
    <div class="col-auto">
        <app-bl-common-toggle-button [(value)]="branch.paymentInfo.responsible" (update)="onUpdate()"></app-bl-common-toggle-button>
    </div>
</div>
