<div
	class="toast"
	role="alert"
	aria-live="assertive"
	aria-atomic="true"
	style="opacity: 100%"
>
	<div
		class="toast-body bg-primary text-white"
		*ngIf="toast.type === 'BLID-SCAN'"
	>
		<strong>BLID: </strong><span>{{ toast.content.blid }}</span>
	</div>

	<div class="toast-body" *ngIf="toast.type === 'ISBN-SCAN'">
		<strong>ISBN: </strong> {{ toast.content.isbn }}
	</div>

	<div class="toast-body bg-warning" *ngIf="toast.type === 'CART-CONTAINS'">
		<fa-icon class="mr-2" icon="exclamation-circle"></fa-icon>
		<span i18n="@@toastCartAlreadyContains">Cart already contains</span> "{{
			toast.content.title
		}}"
	</div>

	<div class="toast-body bg-warning" *ngIf="toast.type === 'WAIT'">
		<fa-icon class="mr-2" icon="circle-notch" spin="true"></fa-icon>
		<span>{{ toast.content.text }}</span>
	</div>

	<div
		class="toast-body bg-success text-white"
		*ngIf="toast.type === 'CHECKOUT-CONFIRMED'"
		[routerLink]="'order/' + toast.content.orderId + '/detail'"
	>
		<div>
			<fa-icon icon="check-circle" class="mr-2"></fa-icon>
			<strong i18n="@@toastCheckoutCompleted"
				>The checkout was completed!
			</strong>
		</div>
		<small>
			<span i18n="@@toastNumberOfItems">Number of items processed: </span>
			{{ toast.content.numberOfItems }}
		</small>
	</div>

	<div
		class="toast-body bg-success text-white"
		*ngIf="toast.type === 'SUCCESS'"
	>
		<div>
			<fa-icon icon="check-circle" class="mr-2"></fa-icon>
			<strong>{{ toast.content }} </strong>
		</div>
	</div>
</div>
