

<div *ngIf="showContent">
	<div class="modal-header">
		<h4 class="modal-title">{{userDetail.name}}</h4>
	</div>

	<div class="modal-body">
        <div class="container" *ngIf="userDetail">
            <div class="row">
                <div class="col-12" [formGroup]="userDetailForm">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="'user'"></fa-icon>
                            </span>
                        </div>
                        <input id="name" class="form-control" [formControlName]="'name'" placeholder="Full name" (keyup.enter)="onUserDetailUpdate()">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="'phone'"></fa-icon>
                            </span>
                        </div>
                        <input id="phone" class="form-control" [formControlName]="'phone'" placeholder="Phone" (keyup.enter)="onUserDetailUpdate()">
                    </div>

					<div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="'birthday-cake'"></fa-icon>
                            </span>
                        </div>
                        <input type="date" id="dob" class="form-control" [formControlName]="'dob'" placeholder="Dob" (keyup.enter)="onUserDetailUpdate()">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="'address-card'"></fa-icon>
                            </span>
                        </div>
                        <input id="address" class="form-control" [formControlName]="'address'" placeholder="Address" (keyup.enter)="onUserDetailUpdate()">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <fa-icon [icon]="'address-card'"></fa-icon>
                            </span>
                        </div>
                        <input id="postCode" class="form-control" [formControlName]="'postCode'" placeholder="Post code" (keyup.enter)="onUserDetailUpdate()">
                        <input id="postCity" class="form-control" [formControlName]="'postCity'" placeholder="Post city" (keyup.enter)="onUserDetailUpdate()">
                    </div>
                </div>
            </div>
        </div>
	</div>

	<div class="modal-footer">
		<div class="row">
			<div class="col-8">
				<app-bl-common-update-button [wait]="wait" (click)="onUserDetailUpdate()"></app-bl-common-update-button>
			</div>
			<div class="col-4">
				<button class="btn btn-outline-danger btn-block" (click)="activeModal.close('close click')">Close</button>
			</div>
		</div>
	</div>
</div>
