<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="row">
				<div class="col">
					<app-customer-detail-card
						[wait]="wait"
						[customerDetail]="customerDetail"
					></app-customer-detail-card>
				</div>
			</div>
			<div class="row mt-2" *ngIf="customerDetail">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row justify-content-between">
								<div class="col-12">
									<app-customer-change-email
										(changed)="onUserDetailEmailChange()"
										*ngIf="isManager()"
									></app-customer-change-email>
								</div>
								<div class="col-12 mt-2" *ngIf="isAdmin()">
									<app-customer-permission
										[customer]="customerDetail"
									></app-customer-permission>
								</div>
								<div class="col-12 mt-2" *ngIf="isAdmin()">
									<app-customer-delete
										[customer]="customerDetail"
										(deleted)="onUserDetailDeleted()"
									></app-customer-delete>
								</div>
								<div class="col-12 mt-2">
									<app-customer-matches
										[customer]="customerDetail"
									></app-customer-matches>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-6 col-sm-12">
			<app-customer-order-list></app-customer-order-list>
		</div>
		<div class="col-lg-4">
			<app-customer-item-list
				[title]="'Customer Items'"
			></app-customer-item-list>
		</div>
	</div>
</div>
