<div class="text-success bl-text-sm" *ngIf="!wait && priceInformation">
	<span class="text-right" *ngIf="priceInformation.alreadyPayed > 0"
		><fa-icon [icon]="'dollar-sign'" class="mr-1"> </fa-icon>
		<span class="text-success mr-1"
			><fa-icon [icon]="'check-circle'"></fa-icon
		></span>
		<span>{{ priceInformation.alreadyPayed | blcPrice }}</span>
	</span>
</div>

<div
	*ngIf="priceInformation && priceInformation.amount !== 0 && !wait"
	class="text-right font-weight-bold bl-text-lg"
	[ngClass]="{ 'text-danger': priceInformation.amount < 0 }"
>
	{{ priceInformation.amount | blcPrice }}
</div>

<div
	class="bl-text-sm font-italic text-secondary"
	*ngIf="priceInformation && priceInformation.amountLeftToPay && !wait"
>
	<span i18n="@@cartListItemPayLater">pay later</span>:
	<span> {{ priceInformation.amountLeftToPay | blcPrice }} </span>
</div>

<div
	*ngIf="wait"
	class="text-center font-weight-bold bl-text-lg text-secondary"
>
	<fa-icon icon="circle-notch" spin="true"></fa-icon>
</div>
