<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-12">
			<app-bl-common-update-button [wait]="wait" *ngIf="wait"></app-bl-common-update-button>
			<app-bl-common-alert [type]="'warning'"
								 *ngIf="warningText"
								 i18n-text="@@orderDetailCouldNotGetOrderError"
								 text="could not get order"
								 (exit)="warningText = null"></app-bl-common-alert>
		</div>
	</div>
	<div class="row" *ngIf="order">
		<div class="col-3">
			<div class="row">
				<div class="col-12">
					<app-order-detail-card [order]="order"></app-order-detail-card>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					<app-order-delivery-detail [order]="order"></app-order-delivery-detail>
				</div>
			</div>
		</div>

		<div class="col-6">
			<app-order-item-list [order]="order"></app-order-item-list>
		</div>
		<div class="col-3">
			<app-order-payment-detail [order]="order"></app-order-payment-detail>
		</div>
	</div>
</div>
