<div class="container-fluid mt-2">
	<div class="row" *ngIf="warningText">
		<div class="col-12">
			<div class="alert alert-secondary">
				<fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
				<span i18n="@@orderDetailCouldNotGet">Could not get order</span>
				<strong class="ml-2 mr-2">{{ currentId }}</strong>
				<span i18n="@@orderDetailMaybeDeleted"
					>maybe it is deleted?</span
				>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-bl-common-update-button
				[wait]="wait"
				*ngIf="wait"
			></app-bl-common-update-button>
		</div>
	</div>
	<div class="row" *ngIf="order">
		<div class="col-3">
			<div class="row">
				<div class="col-12">
					<app-order-detail-card
						[order]="order"
					></app-order-detail-card>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row justify-content-between">
								<div class="col-6">
									<button
										class="btn btn-outline-secondary btn-block btn-sm"
										(click)="printReceipt()"
									>
										<span
											i18n="
												@@orderDetailPrintReceiptButton"
											>Print receipt</span
										>
									</button>
								</div>
								<div class="col-6">
									<button
										class="btn btn-outline-secondary btn-block btn-sm"
										(click)="printAgreement()"
									>
										<span
											i18n="
												@@orderDetailPrintAgreementButton"
											>Print agreement</span
										>
									</button>
								</div>
							</div>
							<div class="row mt-2" *ngIf="isAdmin">
								<div class="col-6">
									<app-order-delete
										[order]="order"
										(deleted)="onOrderDeleted()"
									></app-order-delete>
								</div>
								<div class="col-6">
									<app-order-confirm
										[order]="order"
										(orderChange)="onOrderConfirmed($event)"
									></app-order-confirm>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					<app-order-delivery-detail
						[order]="order"
					></app-order-delivery-detail>
				</div>
			</div>
		</div>

		<div class="col-6">
			<app-order-item-list
				[order]="order"
				(reload)="onReload()"
			></app-order-item-list>
		</div>
		<div class="col-3">
			<app-order-payment-detail
				[order]="order"
				(paymentChange)="onPaymentChange()"
			></app-order-payment-detail>
		</div>
	</div>
</div>
