<!--
<div class="row justify-content-between align-items-center p-2">
	<div class="col-auto">
		<div class="input-group input-group-sm mb-3">
			<input
				class="form-control"
				type="text"
				i18n-placeholder="@@messengerListFilterPlaceholder"
				placeholder="Filter by name"
				name="searchFilter"
				[formControl]="filter"
			/>
			<div class="input-group-append">
				<fa-icon icon="filter" class="input-group-text p-3"></fa-icon>
			</div>
		</div>
	</div>
</div>
-->

<div class="row">
	<div class="col">
		<table class="table table-sm table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">
						<app-blc-button-check
							[value]="selectAll"
							(valueChange)="onSelectAll()"
						>
						</app-blc-button-check>
					</th>
					<th scope="col" i18n="@@messageListType">Type</th>
					<th scope="col" i18n="@@massageListSubtype">Subtype</th>
					<th scope="col" i18n="@@messageListSequence">Sequence</th>
					<th
						*ngIf="!customerId"
						scope="col"
						i18n="@@messageListCustomer"
					>
						Customer
					</th>
					<th scope="col" i18n="@@messageListEmailStatus">
						Email status
					</th>
					<th scope="col" i18n="@@messageListSmsStatus">
						Sms status
					</th>

					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody *ngIf="messages">
				<tr
					*ngFor="let message of messages$ | async; let i = index"
					[ngClass]="{
						'table-primary':
							selectedMessage &&
							message.id &&
							selectedMessage.id == message.id
					}"
					(click)="onSelectMessage(message)"
				>
					<th (click)="onSelect(message.id)">
						<app-blc-button-check
							[value]="selectedList[message.id]"
						>
						</app-blc-button-check>
					</th>
					<td>{{ message.messageType }}</td>
					<td>{{ message.messageSubtype }}</td>
					<td>{{ message.sequenceNumber }}</td>
					<td
						*ngIf="!customerId"
						class="bl-link-black"
						routerLink="/customer/{{ message.customerId }}/detail"
					>
						{{ message.customerId }}
					</td>
					<td
						[ngClass]="{
							'text-danger':
								getEmailStatus(message) == 'dropped' ||
								getEmailStatus(message) == 'bounce',
							'text-success': getEmailStatus(message) == 'open'
						}"
					>
						{{ getEmailStatus(message) }}
					</td>
					<td
						[ngClass]="{
							'text-danger': getSmsStatus(message) == 'failed',
							'text-success': getSmsStatus(message) == 'delivered'
						}"
					>
						{{ getSmsStatus(message) }}
					</td>

					<td>{{ message.creationTime | blDate: "timestamp" }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
