<div class="input-group input-group-sm">
	<div class="input-group-prepend">
		<label class="input-group-text" for="inputGroupSelect01">
			<span i18n="@@customerPermissionTitle">Permission</span>
		</label>
	</div>
	<select
		[(ngModel)]="selectedPermission"
		class="form-control"
		(ngModelChange)="changePermission(selectedPermission)"
	>
		<!--<option selected>{{ selectedPermission }}</option>-->
		<option
			*ngFor="let permission of validPermissions"
			value="{{ permission }}"
		>
			<fa-icon [icon]="getIcon(permission)" class="mr-2"></fa-icon>
			{{ permission }}
		</option>
	</select>

	<div class="input-group-append" *ngIf="wait">
		<label class="input-group-text">
			<fa-icon icon="circle-notch"></fa-icon>
		</label>
	</div>

	<div class="input-group-append" *ngIf="selectedPermission !== 'customer'">
		<label class="input-group-text">
			<fa-icon [icon]="getIcon(selectedPermission)"></fa-icon>
		</label>
	</div>
</div>
