<div class="card">
	<div
		class="card-header bl-flex-row cardHeader"
		(click)="onCollapseChange()"
	>
		<p>
			{{ userBooks[0].customerName }} ({{
				userBooks.length +
					(isHistory
						? userBooks.length > 1
							? " bøker"
							: " bok"
						: "/" +
						  (remainingBooks.length + userBooks.length) +
						  " bøker")
			}})
		</p>
		<div class="actionIcons">
			<button
				class="btn"
				[routerLink]="'/customer/detail'"
				[queryParams]="{ customerId: userBooks[0].customerId }"
			>
				<fa-icon icon="user-circle"></fa-icon>
			</button>
			<button
				type="button"
				class="btn"
				[attr.aria-expanded]="!isCollapsed"
			>
				<fa-icon *ngIf="!isCollapsed" icon="chevron-up"></fa-icon>
				<fa-icon *ngIf="isCollapsed" icon="chevron-down"></fa-icon>
			</button>
		</div>
	</div>
	<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
		<div class="card-body" *ngIf="waiting">
			<p>
				Laster
				<fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
			</p>
		</div>
		<div *ngIf="!waiting" class="card-body">
			<h5>Leverte bøker</h5>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Tidspunkt</th>
						<th scope="col">Ordrenummer</th>
						<th scope="col">Tittel</th>
						<th scope="col">Frist</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let book of userBooks">
						<td>{{ book.collectedAt }}</td>
						<td
							class="orderDetailLink"
							(click)="onCustomerOrderIdClick(book.orderId)"
						>
							{{ book.orderId }}
						</td>
						<td>
							<app-book-detail-modal
								[scannedBook]="book"
							></app-book-detail-modal>
						</td>
						<td>{{ book.deadline }}</td>
					</tr>
				</tbody>
			</table>

			<h5 *ngIf="!isHistory">Gjenværende bøker</h5>
			<p *ngIf="!isHistory && remainingBooks.length === 0">
				Kunden har levert alle sine bøker.
			</p>
			<table
				*ngIf="!isHistory && remainingBooks.length > 0"
				class="table table-striped"
			>
				<thead>
					<tr>
						<th scope="col">Tittel</th>
						<th scope="col">Frist</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let book of remainingBooks">
						<td>
							<app-book-detail-modal
								[scannedBook]="book"
							></app-book-detail-modal>
						</td>
						<td>{{ book.deadline }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
