
<div class="modal-header">
	<h3 i18n="@@cartConfirmConfirmOrder">Confirm order</h3>
</div>


<div class="modal-body">
	<app-bl-common-alert [text]="errorText" *ngIf="errorText" [type]="'warning'"></app-bl-common-alert>

	<div class="row" *ngIf="showSummary">
		<div class="col-12">
            <div class="row">
                <div class="col-12">
                    <app-customer-detail-small (valid)="onCustomerValid($event)"></app-customer-detail-small>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <app-cart-list-small></app-cart-list-small>
                </div>
            </div>
        </div>
    </div>

	<div class="row" *ngIf="showPayment">
		<div class="col-12">

            <div class="row">
                <div class="col-12">
                    <app-payment [order]="order" (paymentComplete)="onPaymentConfirmed()" (paymentFailure)="onPaymentFailure()"></app-payment>
                </div>
            </div>
        </div>
    </div>

	<div class="row" *ngIf="showDelivery">
		<div class="col-12">

            <div class="row">
                <div class="col-12">
					<app-cart-delivery [order]="order" [originalDelivery]="originalDelivery" (deliveryConfirmed)="onDeliveryConfirmed()"></app-cart-delivery>
                </div>
            </div>
        </div>
    </div>

	<div class="row justify-content-center mt-5 mb-5" *ngIf="showConfirmation">
		<div class="col-auto">
			<span class="text-warning"><fa-icon [icon]="'circle-notch'" [size]="'9x'" [spin]="true" *ngIf="confirmationWait"></fa-icon></span>
			<span class="text-success"><fa-icon [icon]="'check-circle'" [size]="'9x'" *ngIf="confirmationSuccess"></fa-icon></span>
		</div>
	</div>
</div>



<div class="modal-footer" *ngIf="showSummary">
	<div class="row justify-content-end">
		<div class="col-4">
			<button class="btn btn-success btn-block"
					*ngIf="showConfirmOrderButton"
					[disabled]="buttonDisabled"
					(click)="onConfirm()"
					i18n="@@cartConfirmSummaryConfirmButton">Confirm</button>

			<button class="btn btn-outline-info btn-block"
					*ngIf="showDeliveryButton"
					[disabled]="buttonDisabled"
					i18n="@@cartConfirmSummarySendByMailButton"
					(click)="onGoToDelivery()">Send by mail</button>
			<app-bl-common-update-button [disabled]="buttonDisabled"
										 i18n-text="@@cartConfirmSummaryGoToPayment"
										 text="Go to payment"
										 [wait]="wait"
										 (clicked)="onGoToPayment()" *ngIf="showGoToPaymentButton"></app-bl-common-update-button>
		</div>
	</div>
</div>

<div class="modal-footer" *ngIf="showPayment">
	<div class="row justify-content-end">
		<div class="col-4">
			<app-bl-common-update-button
				i18n-text="@@cartConfirmSummaryGoToPayment"
				text="Confirm payment"
				[wait]="wait"
				(clicked)="onConfirmPayment()"
				[disabled]="buttonDisabled"></app-bl-common-update-button>
		</div>
	</div>
</div>
