<ngb-tabset type="pills">
	<ngb-tab title="Edit branches">
		<ng-template ngbTabContent>
			<div class="row mt-4">
				<div class="col-12">
					<app-branch-edit-list [branches]="branches" [autoUpdate]="true"></app-branch-edit-list>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Upload braches">
		<ng-template ngbTabContent>
			<div class="row mt-4">
				<div class="col-12">
					<app-branch-upload></app-branch-upload>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
