<div class="card sticky-top" *ngIf="booking">
	<div class="card-header"></div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
			<li class="list-group-item d-flex justify-content-between">
				<span>
					{{booking.from | blDate:"time"}}
					<fa-icon
						icon="arrow-right"
						class="text-secondary mr-2 ml-2"
					></fa-icon>
					{{booking.to | blDate:"time"}}
				</span>
				<span> {{booking.from | blDate:"daymonth"}} </span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span *ngIf="!booking.customer">
					<fa-icon
						icon="times-circle"
						class="text-secondary mr-2"
					></fa-icon>
					<span>Not booked</span>
				</span>
				<span
					*ngIf="booking.customer"
					[routerLink]="'/customer/' + booking.customer + '/detail'"
					class="bl-link-black"
				>
					<fa-icon
						icon="check-circle"
						class="text-success mr-2"
					></fa-icon>
					<span>{{booking.customer | customerName | async}}</span>
				</span>
				<button
					class="btn btn-outline-danger btn-sm"
					(click)="onCancel()"
				>
					<span *ngIf="!wait">Cancel</span>
					<fa-icon
						icon="circle-notch"
						spin="true"
						*ngIf="wait"
					></fa-icon>
				</button>
			</li>
		</ul>
	</div>
</div>
