<app-unique-item-scan-order-to-cart
	[order]="activeOrder"
></app-unique-item-scan-order-to-cart>

<div class="row" blcScanner>
	<div class="col-3">
		<app-order-manager-list
			(selectedOrder)="onSelectOrder($event)"
		></app-order-manager-list>
	</div>
	<div class="col-9 ">
		<div class="row mt-2">
			<div class="col-4 bl-col-scroll">
				<div class="row">
					<div class="col">
						<app-add-order-to-cart
							[order]="activeOrder"
							*ngIf="activeOrder"
						></app-add-order-to-cart>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						<app-order-delivery-detail
							[order]="activeOrder"
							*ngIf="activeOrder"
						></app-order-delivery-detail>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						<app-order-payment-detail
							[order]="activeOrder"
							*ngIf="activeOrder"
						></app-order-payment-detail>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col">
						<app-order-item-list
							[order]="activeOrder"
							*ngIf="activeOrder"
						></app-order-item-list>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col">
						<app-order-detail-card
							[order]="activeOrder"
							*ngIf="activeOrder"
						></app-order-detail-card>
					</div>
				</div>
			</div>

			<div class="col-8"><app-cart-list></app-cart-list></div>
		</div>
	</div>
</div>
