<div
	class="btn-group btn-group-toggle btn-group-sm"
	ngbRadioGroup
	name="radioBasic"
	[(ngModel)]="selectedAction"
>
	<label
		ngbButtonLabel
		[ngClass]="{
			'btn-outline-secondary': !showAction(action),
			'btn-outline-info': showAction(action) && !originalAction(action),
			'btn-outline-success': showAction(action) && originalAction(action)
		}"
		*ngFor="let action of actionList"
	>
		<input
			ngbButton
			type="radio"
			[value]="calculateActionValue(action.action, action.period)"
			[disabled]="!showAction(action.action, action.period)"
			(click)="onActionChange(action.action, action.period)"
		/>
		<span
			*ngIf="
				action.action === 'rent' &&
				action.period === 'semester'
			"
			class="mr-3 ml-3"
		>

			<fa-icon [icon]="'calendar-alt'"></fa-icon>
		</span>

		<span
			*ngIf="
				action.action === 'rent' &&
				action.period === 'year'
			"
			class="mr-3 ml-3"
		>

			<fa-icon [icon]="'calendar'"></fa-icon>
		</span>

		<span
			*ngIf="
				action.action === 'partly-payment' &&
				action.period === 'semester'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
			<fa-icon [icon]="'calendar-alt'"></fa-icon>
		</span>

		<span
			*ngIf="
				action.action === 'partly-payment' && action.period === 'year'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
			<fa-icon [icon]="'calendar'"></fa-icon>
		</span>
		<fa-icon
			[icon]="'money-bill-alt'"
			class="mr-3 ml-3"
			*ngIf="action.action === 'buy' || action.action === 'buyout'"
		></fa-icon>
		<fa-icon
			[icon]="'exchange-alt'"
			class="mr-3 ml-3"
			*ngIf="action.action === 'sell'"
		></fa-icon>

		<fa-icon
			[icon]="'ban'"
			class="mr-3 ml-3"
			*ngIf="action.action === 'cancel'"
		></fa-icon>

		<fa-icon
			[icon]="'calendar-plus'"
			class="mr-3 ml-3"
			*ngIf="action.action === 'extend'"
		></fa-icon>
		<fa-icon
			[icon]="'arrow-alt-circle-down'"
			class="mr-3 ml-3"
			*ngIf="action.action === 'return'"
		></fa-icon>
	</label>
</div>

<span
	*ngIf="
		cartItem.orderItem.type === 'rent' ||
		cartItem.orderItem.type === 'extend'
	"
	class="ml-2 text-secondary"
>
	{{ cartItem.orderItem.type }}
	<fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon>
	{{ cartItem.orderItem.info.to | blDate }}
</span>

<span
	*ngIf="cartItem.orderItem.type === 'partly-payment'"
	class="ml-2 text-secondary"
>
	<fa-icon [icon]="'money-bill-alt'"></fa-icon>
	<fa-icon [icon]="'arrow-right'" class="ml-2 mr-2"></fa-icon>
	<fa-icon [icon]="'clock'"></fa-icon>
	{{ cartItem.orderItem.info.to | blDate }}
</span>

<span *ngIf="cartItem.action === 'cancel'" class="ml-2 text-danger">
	<span i18n="@@cartListItemActionCancelThisItem">cancel this item</span>
	<fa-icon
		[icon]="'circle-notch'"
		class="ml-2"
		*ngIf="updating"
		[spin]="true"
	></fa-icon>
</span>

<span
	*ngIf="cartItem.orderItem.type === 'sell'"
	i18n="@@cartListItemActionBuyThisItemFromCustomer"
	class="ml-2 text-secondary"
>
	buy this item from customer
</span>

<span
	*ngIf="cartItem.orderItem.type === 'buy'"
	i18n="@@cartListItemActionSellItemToCustomer"
	class="ml-2 text-secondary"
>
	sell this item
</span>

<span
	*ngIf="cartItem.orderItem.type === 'return'"
	i18n="@@cartListItemActionReturnItem"
	class="ml-2 text-secondary"
>
	return this item
</span>

<span
	*ngIf="cartItem.orderItem.type === 'buyout'"
	i18n="@@cartListItemActionCustomerToBuyoutItem"
	class="ml-2 text-secondary"
>
	customer to buyout this item
</span>
