<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="cartItem.action">
    <label ngbButtonLabel
		   [ngClass]="{'btn-outline-secondary': !showAction(action), 'btn-outline-info': showAction(action) && !originalAction(action), 'btn-outline-success': showAction(action) && originalAction(action)}"
		   *ngFor="let action of actionList">
        <input ngbButton type="radio" [value]="action" [disabled]="!showAction(action)" (click)="onActionChange(action)">
        <fa-icon [icon]="'calendar-alt'" class="mr-3 ml-3" *ngIf="action === 'semester'"></fa-icon>
        <fa-icon [icon]="'calendar'" class="mr-3 ml-3" *ngIf="action === 'year'"></fa-icon>
        <fa-icon [icon]="'money-bill-alt'" class="mr-3 ml-3" *ngIf="action === 'buy'"></fa-icon>
        <fa-icon [icon]="'exchange-alt'" class="mr-3 ml-3" *ngIf="action === 'sell'"></fa-icon>
        <fa-icon [icon]="'ban'" class="mr-3 ml-3" *ngIf="action === 'cancel'"></fa-icon>
        <fa-icon [icon]="'calendar-plus'" class="mr-3 ml-3" *ngIf="action === 'extend'"></fa-icon>
    </label>
</div>

<span *ngIf="cartItem.orderItem.type === 'rent'" class="ml-2 text-secondary">
	{{cartItem.orderItem.type}} <fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon> {{cartItem.orderItem.info.to | blDate}}
</span>

<span *ngIf="cartItem.orderItem.type === 'cancel'" class="ml-2 text-danger">
	cancel this item
</span>

<span *ngIf="cartItem.orderItem.type === 'sell'" class="ml-2 text-secondary">
	buy this item from customer
</span>

<span *ngIf="cartItem.orderItem.type === 'buy'" class="ml-2 text-secondary">
	sell this item
</span>
