<div
	class="btn-group btn-group-toggle btn-group-sm"
	ngbRadioGroup
	name="radioBasic"
	[(ngModel)]="selectedActionName"
>
	<label
		ngbButtonLabel
		class="btn-outline-secondary"
		*ngFor="let actionChoice of actionList"
		[title]="actionChoice.error ? actionChoice.error : ''"
	>
		<input
			ngbButton
			type="radio"
			[value]="getActionName(actionChoice)"
			(click)="onActionChange(actionChoice)"
			[disabled]="actionChoice.error !== undefined"
		/>
		<span
			*ngIf="
				actionChoice.action === 'rent' &&
				actionChoice.period === 'semester'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'calendar-alt'"></fa-icon>
		</span>

		<span
			*ngIf="
				actionChoice.action === 'rent' && actionChoice.period === 'year'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'calendar'"></fa-icon>
		</span>

		<span
			*ngIf="
				actionChoice.action === 'partly-payment' &&
				actionChoice.period === 'semester'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
			<fa-icon [icon]="'calendar-alt'"></fa-icon>
		</span>

		<span *ngIf="actionChoice.action === 'buyback'" class="mr-3 ml-3">
			<fa-icon [icon]="'arrow-circle-down'"></fa-icon>
		</span>

		<span
			*ngIf="
				actionChoice.action === 'partly-payment' &&
				actionChoice.period === 'year'
			"
			class="mr-3 ml-3"
		>
			<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
			<fa-icon [icon]="'calendar'"></fa-icon>
		</span>

		<fa-icon
			[icon]="'money-bill-alt'"
			class="mr-3 ml-3"
			*ngIf="
				actionChoice.action === 'buy' ||
				actionChoice.action === 'buyout'
			"
		></fa-icon>

		<fa-icon
			[icon]="'exchange-alt'"
			class="mr-3 ml-3"
			*ngIf="actionChoice.action === 'sell'"
		></fa-icon>

		<fa-icon
			[icon]="'ban'"
			class="mr-3 ml-3"
			*ngIf="actionChoice.action === 'cancel'"
		></fa-icon>
		<fa-icon
			[icon]="'calendar-plus'"
			class="mr-3 ml-3"
			*ngIf="actionChoice.action === 'extend'"
		></fa-icon>
		<fa-icon
			[icon]="'arrow-alt-circle-down'"
			class="mr-3 ml-3"
			*ngIf="actionChoice.action === 'return'"
		></fa-icon>
	</label>
</div>

<span *ngIf="selectedAction.action === 'rent'" class="ml-2 text-secondary">
	<span i18n="@@cartListItemActionRent">rent</span>
	<fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon>
	{{ selectedAction.deadline | blDate }}
</span>

<span *ngIf="selectedAction.action === 'extend'" class="ml-2 text-secondary">
	<span i18n="@@cartListItemActionExtend">extend</span>
	<fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon>
	{{ selectedAction.deadline | blDate }}
</span>

<span
	*ngIf="selectedAction.action === 'partly-payment'"
	class="ml-2 text-secondary"
>
	<fa-icon [icon]="'money-bill-alt'"></fa-icon>
	<fa-icon [icon]="'arrow-right'" class="ml-2 mr-2"></fa-icon>
	<fa-icon [icon]="'clock'"></fa-icon>
	{{ selectedAction.deadline | blDate }}
</span>

<span *ngIf="selectedAction.action === 'cancel'" class="ml-2 text-danger">
	<span i18n="@@cartListItemActionCancelThisItem">cancel this item</span>
	<fa-icon
		[icon]="'circle-notch'"
		class="ml-2"
		*ngIf="updating"
		[spin]="true"
	></fa-icon>
</span>

<span
	*ngIf="selectedAction.action == 'sell'"
	i18n="@@cartListItemActionBuyThisItemFromCustomer"
	class="ml-2 text-secondary"
>
	buy this item from customer
</span>

<span
	*ngIf="selectedAction.action === 'buyback'"
	i18n="@@cartListItemActionBuybackThisItemFromCustomer"
	class="ml-2 text-secondary"
>
	buyback this item from customer
</span>

<span
	*ngIf="selectedAction.action === 'buy'"
	i18n="@@cartListItemActionSellItemToCustomer"
	class="ml-2 text-secondary"
>
	sell this item
</span>

<span
	*ngIf="selectedAction.action === 'return'"
	i18n="@@cartListItemActionReturnItem"
	class="ml-2 text-secondary"
>
	return this item
</span>

<span
	*ngIf="selectedAction.action === 'buyout'"
	i18n="@@cartListItemActionCustomerToBuyoutItem"
	class="ml-2 text-secondary"
>
	customer to buyout this item
</span>
