<div class="container-fluid mt-4" blcScanner>
	<div class="row">
		<div class="col-12">
			<app-bl-common-alert
				[type]="'success'"
				i18n-text="@@cartOrderWasConfirmed"
				text="Order was confirmed!"
				*ngIf="cartConfirmText"
				(exit)="cartConfirmText = null"
			></app-bl-common-alert>
			<app-bl-common-alert
				[type]="'danger'"
				i18n-text="@@cartFailureText"
				text="could not confirm order"
				*ngIf="cartFailureText"
				(exit)="cartFailureText = null"
			></app-bl-common-alert>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="row">
				<div class="col-12">
					<ngb-tabset>
						<ngb-tab id="customerOrderItemsTab">
							<ng-template ngbTabTitle>
								<span
									class="text-secondary"
									i18n="@@cartOrderedItems"
									>Ordered items
								</span>
								<fa-icon
									[spin]="true"
									[icon]="'circle-notch'"
									class="ml-2 text-secondary"
									*ngIf="!haveCustomer"
								></fa-icon>
							</ng-template>

							<ng-template ngbTabContent>
								<div class="row mt-2">
									<div class="col-12">
										<app-customer-order-item-list></app-customer-order-item-list>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle>
								<span
									class="text-secondary"
									i18n="@@cartCustomerItems"
									>Customer items</span
								>
								<fa-icon
									[spin]="true"
									[icon]="'circle-notch'"
									class="ml-2 text-secondary"
									*ngIf="!haveCustomer"
								></fa-icon>
							</ng-template>

							<ng-template ngbTabContent>
								<div class="row mt-2" *ngIf="customerDetail">
									<div class="col-12">
										<app-customer-item-list></app-customer-item-list>
									</div>
								</div>
							</ng-template>
						</ngb-tab>

						<ngb-tab>
							<ng-template ngbTabTitle>
								<span class="text-secondary" i18n="@@cartSearch"
									>Search</span
								>
							</ng-template>
							<ng-template ngbTabContent>
								<div class="row mt-2">
									<div class="col-12">
										<app-item-search-bar></app-item-search-bar>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>

		<div class="col-8">
			<app-cart-list
				(cartConfirmed)="onCartConfirmed()"
				(cartConfirmationFailed)="onCartFailed()"
			></app-cart-list>
		</div>
	</div>
</div>
