<div class="input-group input-group-sm">
	<div class="input-group-prepend">
		<span class="input-group-text">@</span>
	</div>
	<input
		type="text"
		class="form-control"
		[(ngModel)]="email"
		i18n-placeholder="@@userDetailChangeEmailPlaceholder"
		placeholder="Email"
		(keydown.enter)="changeEmail()"
	/>

	<div class="input-group-append">
		<button
			class="btn btn-outline-secondary"
			type="button"
			i18n="@@userDetailChangeEmailButton"
			(click)="changeEmail()"
			*ngIf="!wait"
		>
			Change
		</button>
	</div>

	<div class="input-group-append" *ngIf="wait">
		<label class="input-group-text">
			<fa-icon icon="circle-notch"></fa-icon>
		</label>
	</div>
</div>

<div class="alert alert-danger mt-2" *ngIf="couldNotUpdateEmailError">
	<fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
	<span i18n="@@customerDetailEmailChangeCouldNotUpdate"
		>Could not update email</span
	>
</div>
