<ul class="list-group" *ngIf="selectedItem">
	<li
		class="list-group-item list-group-item-info d-flex justify-content-between align-items-center"
	>
		<div>
			<h5>{{ selectedItem.title }}</h5>
			<small>{{ selectedItem.info.isbn }}</small>
		</div>
		<fa-icon icon="bars" (click)="onChangeItem()"></fa-icon>
	</li>
</ul>

<ul class="list-group" *ngIf="!selectedItem">
	<li
		class="list-group-item list-group-item-info d-flex justify-content-between align-items-center"
	>
		<span i18n="@@itemSearchSelectPleaseScanISBN">Please scan a ISBN</span>
		<span (click)="onShowInput()">
			<fa-icon icon="keyboard"></fa-icon>
		</span>
	</li>

	<li class="list-group-item list-group-item-info" *ngIf="showInput">
		<app-item-search-bar></app-item-search-bar>
	</li>

	<li
		class="list-group-item list-group-item-info"
		*ngIf="items && items.length > 0"
	>
		<ul class="list-group">
			<li
				class="list-group-item d-flex justify-content-between align-items-center"
				*ngFor="let item of items; let i = index"
			>
				<div>
					<div>{{ item.title }}</div>
					<small>{{ item.info.isbn }}</small>
				</div>
				<div class="col-3">
					<button
						class="btn btn-outline-secondary btn-sm btn-block"
						(click)="selectItem(i)"
					>
						<fa-icon icon="check"></fa-icon>
					</button>
				</div>
			</li>
		</ul>
	</li>
</ul>
