<div class="row" *ngIf="selectedItem">
	<div class="col-12">
		<ul class="list-group">
			<li
				class="list-group-item list-group-item-info d-flex justify-content-between align-items-center"
				(click)="onChangeItem()"
			>
				<div>
					<h5>{{selectedItem.title}}</h5>
					<small>{{selectedItem.info.isbn}}</small>
				</div>
				<fa-icon icon="bars"></fa-icon>
			</li>
		</ul>
	</div>
</div>

<div class="row" *ngIf="!selectedItem">
	<div class="col-12"><app-item-search-bar></app-item-search-bar></div>
	<div class="col-12 mt-2">
		<ul class="list-group">
			<li
				class="list-group-item d-flex justify-content-between align-items-center"
				*ngFor="let item of items; let i = index"
			>
				<div>
					<div>{{item.title}}</div>
					<small>{{item.info.isbn}}</small>
				</div>
				<div class="col-3">
					<button
						class="btn btn-outline-secondary btn-sm btn-block"
						(click)="selectItem(i)"
					>
						<fa-icon icon="check"></fa-icon>
					</button>
				</div>
			</li>
		</ul>
	</div>
</div>
