@import "../styles";

.container-fluid {
	padding: 0;
}

.bl-login-container {
	background-color: $primary-color;
	height: 100vh;
	width: 100vw;
	padding: 40px;
}

.bl-view {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.bl-sidebar {
	width: 50px;
	max-width: 50px;
	flex: 1;
}

.bl-content {
	flex: 1;
}
