@import "../styles";

.bl-content {
	width: 100vw;
	float: left;
}

.container-fluid {
	padding: 0;
}

.bl-login-container {
	background-color: $primary-color;
	height: 100vh;
	width: 100vw;

	padding: 40px;
}
