<ul class="list-group" *ngIf="pickedDate">
	<li
		class="list-group-item list-group-item-info d-flex justify-content-between"
		(click)="onDateChange()"
	>
		{{ pickedDate | blDate: "daymonth" }}
		<fa-icon icon="bars"></fa-icon>
	</li>
</ul>
<ul class="list-group" *ngIf="!pickedDate">
	<li
		class="list-group-item list-group-item-info text-center"
		i18n="@@bookingTimePickerChooseADate"
	>
		Choose a date
	</li>
	<li
		class="list-group-item"
		*ngFor="let bookingDate of bookingDates"
		(click)="pick(bookingDate.from)"
	>
		{{ bookingDate.from | blDate: "daymonth" }}
	</li>
</ul>
