<div class="row justify-content-between align-items-center">
	<div class="col-auto">
		<div class="d-flex align-items-center">
			<span class="badge badge-warning mr-2"
				><fa-icon [icon]="'receipt'"></fa-icon
			></span>
			<span> {{ customerOrderItem.orderItem.title }} </span>
		</div>
	</div>
	<div
		class="col-auto small bl-link-black"
		routerLink="{{ '/order/' + customerOrderItem.order.id + '/detail' }}"
	>
		<span *ngIf="haveDelivery" class="text-secondary">
			<fa-icon [icon]="'truck'" class="mr-2"></fa-icon>
		</span>
		<span *ngIf="havePayed()" class="text-success">
			<fa-icon [icon]="'dollar-sign'" class="mr-1"></fa-icon
			><fa-icon [icon]="'check-circle'"></fa-icon>
		</span>
		<span *ngIf="!havePayed()" class="text-secondary "
			>{{ customerOrderItem.orderItem.amount | blcPrice }}</span
		>
	</div>
</div>

<div class="row mt-2 align-items-center">
	<div class="col-auto text-secondary">
		<small>
			<span *ngIf="customerOrderItem.orderItem.type === 'buy'"
				><fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
				<span i18n="@@customerOrderItemListItemBuy">buy</span>
			</span>

			<span *ngIf="customerOrderItem.orderItem.type === 'rent'">
				<fa-icon [icon]="'calendar-alt'" class="mr-1"></fa-icon>
				<span i18n="@@customerOrderItemListItemRent">rent</span>
				<fa-icon [icon]="'arrow-right'" class="mr-1 ml-1"></fa-icon>
				{{ customerOrderItem.orderItem.info["to"] | blDate }}
			</span>

			<span *ngIf="customerOrderItem.orderItem.type === 'extend'">
				<fa-icon [icon]="'calendar-alt'" class="mr-1"></fa-icon>
				<span i18n="@@customerOrderItemListItemExtend">extend</span>
				<fa-icon [icon]="'arrow-right'" class="mr-1 ml-1"></fa-icon>
				{{ customerOrderItem.orderItem.info["to"] | blDate }}
			</span>

			<span *ngIf="customerOrderItem.orderItem.type === 'partly-payment'">
				<fa-icon [icon]="'money-bill-alt'" class="mr-1"></fa-icon>
				<span i18n="@@customerOrderItemListItemPartlyPayment"
					>partly payment</span
				>
				<fa-icon [icon]="'arrow-right'" class="mr-1 ml-1"></fa-icon>
				<fa-icon [icon]="'clock'" class="mr-1"></fa-icon>
				{{ customerOrderItem.orderItem.info["to"] | blDate }}
			</span>
		</small>
	</div>
</div>
<div class="row justify-content-end">
	<div
		class="col-6 mt-2"
		*ngIf="currentBranchId === customerOrderItem.order.branch"
	>
		<div class="alert alert-warning text-center" *ngIf="wait">
			<fa-icon spin="true" icon="circle-notch"></fa-icon>
		</div>

		<app-blc-item-add
			*ngIf="!wait"
			[orderItem]="customerOrderItem.orderItem"
			[order]="customerOrderItem.order"
		></app-blc-item-add>
	</div>

	<div
		class="col-6 justify-content-center"
		*ngIf="currentBranchId !== customerOrderItem.order.branch"
	>
		<div class="alert alert-warning text-center">
			<div
				class="mr-2"
				i18n="@@customerOrderItemListItemWrongBranchError"
			>
				item is from another branch
			</div>
			<span class="font-weight-bold"
				>{{ customerOrderItem.order.branch | branchName | async }}</span
			>
		</div>
	</div>
</div>
