<div class="row justify-content-between align-items-center">
    <div class="col-auto" *ngIf="item">
        <div class="row">
            <div class="col-12">
                <h4 class="text-dark font-weight-bold">{{item.title}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-branch-item-category-select [branchItem]="branchItem"></app-branch-item-category-select>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-4 text-dark" i18n="@@branchItemEditRent">
                Rent
            </div>
            <div class="col-4 text-dark" i18n="@@branchItemEditBuy">
                Buy
            </div>
            <div class="col-4 text-dark" i18n="if the customer can sell the item to branch @@branchItemEditSell">
                Sell
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <app-bl-common-toggle-button [(value)]="branchItem.rent" (update)="onUpdate()"></app-bl-common-toggle-button>
            </div>
            <div class="col-4">
                <app-bl-common-toggle-button [(value)]="branchItem.buy" (update)="onUpdate()"></app-bl-common-toggle-button>
            </div>
            <div class="col-4">
                <app-bl-common-toggle-button [(value)]="branchItem.sell" (update)="onUpdate()"></app-bl-common-toggle-button>
            </div>
        </div>
    </div>
</div>

