
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
                <button class="btn btn-outline-secondary btn-sm" (click)="onAllBranchesFilterClick()">
                    <span>
                        <fa-icon [icon]="'check'" class="mr-2" *ngIf="allBranchesFilter"></fa-icon>
                        All branches
                    </span>
                </button>
			</div>
            <div class="card-body" *ngIf="placedOrders && placedOrders.length <= 0">
                <div class="alert alert-secondary" >
                    No orders found
                </div>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-action"
                     (click)="onOrderClick(placedOrder)"
                     *ngFor="let placedOrder of placedOrders"
                     [ngClass]="{'active': activeOrder === placedOrder}">
                    <app-order-manager-list-item [order]="placedOrder"></app-order-manager-list-item>
                </div>
            </div>
        </div>
	</div>
</div>
