<ul class="list-group" blcScanner>
	<li class="list-group-item list-group-item-secondary">
		Scanned {{blids.length}} BLIDs
	</li>

	<li class="list-group-item list-group-item-warning" *ngIf="alreadyScanned">
		BLID "{{alreadyScanned}}" is already scanned.
	</li>

	<li
		class="list-group-item"
		*ngFor="let blid of blids; let i = index;"
		[ngClass]="{'list-group-item-danger': alreadyAddedUniqueItems[blid]}"
	>
		<app-blid-scanner-list-item
			[blid]="blid"
			(remove)="onRemoveBlid(i)"
			(alreadyAdded)="onAlreadyAddedBlid(i)"
		></app-blid-scanner-list-item>
	</li>
</ul>
