<ul class="list-group" blcScanner>
	<li
		class="list-group-item list-group-item-info text-center d-flex justify-content-between align-items-center"
	>
		<span>Scanned {{blids.length}} BLIDs</span>
		<span>
			<button
				class="btn btn-sm btn-primary"
				(click)="onShowManualInput()"
			>
				<!--<fa-icon icon="barcode" class="mr-2"></fa-icon>-->
				<fa-icon icon="keyboard"></fa-icon>
			</button>
		</span>
	</li>
	<li
		class="list-group-item list-group-item-secondary"
		*ngIf="showManualInput"
	>
		<app-blid-scanner-input
			(blid)="onManualBlidInput($event)"
		></app-blid-scanner-input>
	</li>

	<li class="list-group-item list-group-item-warning" *ngIf="alreadyScanned">
		BLID "{{alreadyScanned}}" is already scanned.
	</li>

	<li
		class="list-group-item"
		*ngFor="let blid of blids; let i = index;"
		[ngClass]="{'list-group-item-danger': alreadyAddedUniqueItems[blid]}"
	>
		<app-blid-scanner-list-item
			[blid]="blid"
			(remove)="onRemoveBlid(i)"
			(alreadyAdded)="onAlreadyAddedBlid(i)"
		></app-blid-scanner-list-item>
	</li>
</ul>
