<ngb-tabset type="pills">
	<ngb-tab title="Edit items">
		<ng-template ngbTabContent>
			<div class="row mt-4">
				<div class="col-12">
					<app-item-edit-list [items]="databaseItems" [autoUpdate]="true"></app-item-edit-list>
				</div>

				<div class="col-12 mt-4">
                    <button class="btn btn-primary" (click)="onDownloadItems()">
                        Get Items
                    </button>
                </div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Upload items">
		<ng-template ngbTabContent>
            <div class="row mt-4">
                <div class="col-12">
                    <app-item-upload></app-item-upload>
                </div>

            </div>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
