<div class="input-group mb-3" blcScanner>
	<div class="input-group-prepend">
		<span class="input-group-text">BL-ID </span>
	</div>
	<input
		type="text"
		class="form-control"
		i18n="@@uniqueItemSearchPlaceholder"
		[(ngModel)]="blid"
		(keydown.enter)="onBlidSearch(blid)"
		placeholder="Search for BL-ID"
		aria-describedby="button-addon2"
	/>
	<div class="input-group-append">
		<button
			class="btn btn-outline-light bg-info"
			type="button"
			(click)="onBlidSearch(blid)"
		>
			<fa-icon icon="search"></fa-icon>
		</button>
	</div>
</div>
