<div class="row">
	<div class="col-8">
		<div>
			<h5>
				<app-blc-edit-string-value
					name="invoiceItemTitle"
					[value]="invoiceItem.title"
					[(ngModel)]="invoiceItem.title"
					(valueChange)="updateTotal()"
					ngDefaultControl
				></app-blc-edit-string-value>
			</h5>
		</div>
	</div>
	<div class="col-4">
		<app-blc-item-add [item]="invoiceItem.item"></app-blc-item-add>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<span>Pris (eks. mva): </span>
		<app-blc-edit-number-value
			name="invoiceItemPrice"
			[value]="invoiceItem.price"
			[(ngModel)]="invoiceItem.price"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
		kr
	</div>

	<div class="col-6">
		<span i18n="@@invoiceCreateItemListNumberOfUnits"
			>number of units:
		</span>

		<app-blc-edit-number-value
			name="invoiceItemNumberOfUnits"
			[value]="invoiceItem.numberOfUnits"
			[(ngModel)]="invoiceItem.numberOfUnits"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<span i18n="@@invoiceCreateItemListDiscount">Discount: </span>

		<app-blc-edit-number-value
			name="invoiceItemDiscount"
			[value]="invoiceItem.discount"
			[(ngModel)]="invoiceItem.discount"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>

	<div class="col-6">
		<span>MVA: </span>

		<app-blc-edit-number-value
			name="invoiceItemTaxPercentage"
			[value]="invoiceItem.taxPercentage"
			[(ngModel)]="invoiceItem.taxPercentage"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
		%
	</div>
</div>

<div class="row">
	<div class="col-6">
		<span i18n="@@invoiceCreateItemListPrice">Product number:</span>
		<app-blc-edit-number-value
			name="invoiceItemPrice"
			[value]="invoiceItem.productNumber"
			[(ngModel)]="invoiceItem.productNumber"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>

	<div class="col-6">
		<span>Total: </span>
		<span>{{ getDiscountedTotal() | blcPrice }}</span>

		(<span i18n="@@invoiceCreateItemListTax">Tax: </span>
		<span>{{ invoiceItem.tax | blcPrice: "international" }}</span
		>)
	</div>
</div>
