<div class="row">
	<div class="col-8">
		<div>
			<h5>{{ invoiceItem.item.title }}</h5>
		</div>
		<div>
			<small class="text-secondary"
				><fa-icon [icon]="'barcode'" class="mr-2"></fa-icon
				>{{ invoiceItem.item.info["isbn"] }}</small
			>
		</div>
	</div>
	<div class="col-4">
		<app-blc-item-add [item]="invoiceItem.item"></app-blc-item-add>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<span i18n="@@invoiceCreateItemListPrice">Price:</span>
		<app-blc-edit-number-value
			name="invoiceItemPrice"
			[value]="invoiceItem.price"
			[(ngModel)]="invoiceItem.price"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>

	<div class="col-6">
		<span i18n="@@invoiceCreateItemListNumberOfUnits"
			>number of units:
		</span>

		<app-blc-edit-number-value
			name="invoiceItemNumberOfUnits"
			[value]="invoiceItem.numberOfUnits"
			[(ngModel)]="invoiceItem.numberOfUnits"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<span i18n="@@invoiceCreateItemListDiscount">Discount: </span>

		<app-blc-edit-number-value
			name="invoiceItemDiscount"
			[value]="invoiceItem.discount"
			[(ngModel)]="invoiceItem.discount"
			(valueChange)="updateTotal()"
			ngDefaultControl
		></app-blc-edit-number-value>
	</div>

	<div class="col-6">
		<span i18n="@@invoiceCreateItemListTotal">Total: </span>
		<span>{{ invoiceItem.total }}</span>
	</div>
</div>
