<div class="row" *ngIf="order">
	<div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        pay
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <span class="bl-payment-amount">{{order.amount | blcPrice}}</span>
                    </div>
                </div>

				<div class="row justify-content-center">
					<div class="col-auto">
						with
					</div>
				</div>
            </div>
		</div>

		<div class="row mt-2">
			<div class="col-12">
				<app-payment-method-select
					[amount]="order.amount"
					(paymentChoices)="onPaymentChoices($event)"
					(failure)="onPaymentChoiceFailure()"
				></app-payment-method-select>
			</div>
		</div>
    </div>
</div>
