<div class="container-fluid mt-2">
	<ngb-tabset #tabset="ngbTabset" id="ngbTabset">
		<ngb-tab id="view">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceView">View</span>
			</ng-template>
			<ng-template ngbTabContent>
				<app-invoice-view></app-invoice-view>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="generate">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceGenerate">Generate</span>
			</ng-template>
			<ng-template ngbTabContent>
				<app-invoice-generator></app-invoice-generator>
			</ng-template>
		</ngb-tab>

		<ngb-tab id="create">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceCreate">Create</span>
			</ng-template>
			<ng-template ngbTabContent>
				<app-invoice-create></app-invoice-create>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
