<div class="container-fluid mt-2">
	<ngb-tabset #tabset="ngbTabset" id="ngbTabset">
		<ngb-tab id="view">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceView" routerLink="/invoices/view"
					>View</span
				>
			</ng-template>
			<ng-template ngbTabContent>
				<router-outlet></router-outlet>
			</ng-template>
		</ngb-tab>
		<ngb-tab id="generate">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceGenerate" routerLink="/invoices/generate"
					>Generate</span
				>
			</ng-template>
			<ng-template ngbTabContent>
				<router-outlet></router-outlet>
			</ng-template>
		</ngb-tab>

		<ngb-tab id="create">
			<ng-template ngbTabTitle>
				<span i18n="@@invoiceCreate" routerLink="/invoices/create"
					>Create</span
				>
			</ng-template>
			<ng-template ngbTabContent>
				<router-outlet></router-outlet>
			</ng-template>
		</ngb-tab>
	</ngb-tabset>
</div>
