<div class="row mb-2 justify-content-center">
	<div class="col-auto">
		<app-invoice-id-select
			[invoices]="invoices"
			[id]="idSearchString"
			(idChange)="setIdSearchString($event)"
		>
		</app-invoice-id-select>
	</div>
</div>

<div class="row align-items-center mb-2" *ngIf="idSearchString">
	<div class="col-auto">
		<div class="input-group input-group-sm">
			<input
				class="form-control"
				type="text"
				i18n-placeholder="@@invoiceTableFilterPlaceholder"
				placeholder="Filter by name or invoice id"
				name="searchFilter"
				[formControl]="filter"
			/>
			<div class="input-group-append">
				<fa-icon icon="filter" class="input-group-text p-3"></fa-icon>
			</div>
		</div>
	</div>
</div>

<div class="row align-items-center mt-2 mb-2" *ngIf="haveSelected()">
	<div class="col-auto">
		<button
			class="btn btn-sm btn-outline-primary"
			(click)="exportToExcelTripletex()"
		>
			<fa-icon icon="file-excel" class="mr-2"></fa-icon>
			<fa-icon
				icon="circle-notch"
				[spin]="true"
				*ngIf="printToExcelWait"
			></fa-icon>
			<span *ngIf="!printToExcelWait">Tripletex format</span>
		</button>
	</div>
	<div class="col-auto">
		<button
			class="btn btn-sm btn-outline-primary"
			(click)="exportToExcel(false, false)"
		>
			<fa-icon icon="file-excel" class="mr-2"></fa-icon>
			<fa-icon
				icon="circle-notch"
				[spin]="true"
				*ngIf="printToExcelWait"
			></fa-icon>
			<span i18n="@@invoiceTablePrintSelected" *ngIf="!printToExcelWait"
				>Visma format</span
			>
		</button>
	</div>

	<div class="col-auto">
		<button
			class="btn btn-sm btn-outline-primary"
			(click)="exportToExcel(false, true)"
		>
			<fa-icon icon="file-excel" class="mr-2"></fa-icon>
			<fa-icon
				icon="circle-notch"
				[spin]="true"
				*ngIf="printToExcelWait"
			></fa-icon>
			<span *ngIf="!printToExcelWait">Visma kreditnota-format</span>
		</button>
	</div>

	<div class="col-auto">
		<button
			class="btn btn-sm btn-outline-primary"
			(click)="exportToExcel(true, false)"
		>
			<fa-icon icon="file-excel" class="mr-2"></fa-icon>
			<fa-icon
				icon="circle-notch"
				[spin]="true"
				*ngIf="printToExcelWait"
			></fa-icon>
			<span
				i18n="@@invoiceTablePrintSelectedEhf"
				*ngIf="!printToExcelWait"
				>Visma EHF format</span
			>
		</button>
	</div>
</div>

<div class="row mt-2" *ngIf="idSearchString">
	<div class="col">
		<table class="table table-sm table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">
						<app-blc-button-check
							[value]="selectAll"
							(valueChange)="onSelectAll()"
						>
						</app-blc-button-check>
					</th>
					<th scope="col" (click)="sortInvoiceId()">
						#
						<span class="ml-2">
							<fa-icon
								*ngIf="sortByInvoiceIdDirection === 'asc'"
								icon="arrow-up"
							></fa-icon>
							<fa-icon
								*ngIf="sortByInvoiceIdDirection === 'desc'"
								icon="arrow-down"
							></fa-icon>
						</span>
					</th>
					<th scope="col" i18n="@@invoiceTableItemName">Name</th>
					<th scope="col" i18n="@@invoiceTableItemDeadline">
						Deadline
					</th>
					<th scope="col" i18n="@@invoiceTableItemAmount">Amount</th>
					<th scope="col" i18n="@@invoiceTableItemProcessed">
						Processed
					</th>
				</tr>
			</thead>
			<tbody *ngIf="invoices">
				<tr
					*ngFor="let invoice of invoices$ | async; let i = index"
					[ngClass]="{
						'table-primary':
							selectedInvoice &&
							invoice.id &&
							selectedInvoice.id == invoice.id
					}"
					(click)="onSelectInvoice(invoice)"
				>
					<th (click)="onSelect(invoice.id)">
						<app-blc-button-check
							[value]="selectedList[invoice.id]"
						>
						</app-blc-button-check>
					</th>
					<th>
						<ngb-highlight
							[result]="invoice.invoiceId"
							[term]="filter.value"
						></ngb-highlight>
					</th>
					<td>
						<span
							class="bl-link-black"
							[routerLink]="'/customer/detail'"
							[queryParams]="{
								customerId: invoice.customerInfo.userDetail
							}"
						>
							<ngb-highlight
								[result]="invoice.customerInfo.name"
								[term]="filter.value"
							></ngb-highlight>
						</span>
					</td>
					<td>{{ invoice.duedate | blDate }}</td>
					<td>{{ invoice.payment.totalIncludingFee | blcPrice }}</td>
					<td *ngIf="invoice.toDebtCollection" class="text-danger">
						<fa-icon [icon]="'hand-holding-usd'"></fa-icon>
					</td>
					<td
						*ngIf="!invoice.toDebtCollection"
						class="text-danger"
						[ngClass]="{
							'text-success':
								invoice.customerHavePayed ||
								invoice.toCreditNote ||
								invoice.toLossNote,
							'text-danger':
								!invoice.customerHavePayed &&
								!invoice.toCreditNote &&
								!invoice.toLossNote
						}"
					>
						<fa-icon
							[icon]="
								invoice.customerHavePayed ||
								invoice.toCreditNote ||
								invoice.toLossNote
									? 'check-circle'
									: 'times-circle'
							"
						></fa-icon>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
