<div class="row">
	<div class="col">
		<form>
			<div class="form-group form-inline">
				<input
					class="form-control ml-2"
					type="text"
					placeholder="search name or reference"
					name="searchFilter"
					[formControl]="filter"
				/>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Deadline</th>
					<th scope="col">Gross amount</th>
				</tr>
			</thead>
			<tbody *ngIf="invoices">
				<tr *ngFor="let invoice of (invoices$ | async)">
					<th>
						<ngb-highlight
							[result]="invoice.reference"
							[term]="filter.value"
						></ngb-highlight>
					</th>
					<td>
						<span
							class="bl-link-black"
							[routerLink]="
								'/customer/' +
								invoice.customerInfo.userDetail +
								'/detail'
							"
						>
							<ngb-highlight
								[result]="invoice.customerInfo.name"
								[term]="filter.value"
							></ngb-highlight>
						</span>
					</td>
					<td>{{ invoice.duedate | blDate }}</td>
					<td>{{ invoice.payment.total.gross | blcPrice }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
