<div class="container-fluid">
	<form
		[formGroup]="createBookingsForm"
		(ngSubmit)="onSubmit(createBookingsForm.value)"
	>
		<div class="row align-items-center justify-content-center">
			<div class="col-auto">
				<div class="input-group mb-3" id="to-date">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon icon="calendar-alt"></fa-icon>
						</span>
					</div>
					<input
						type="date"
						class="form-control"
						placeholder="date"
						formControlName="date"
					/>
				</div>
			</div>
			<div class="col-auto">
				<div class="input-group mb-3" id="intervall">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon icon="clock"></fa-icon>
						</span>
					</div>
					<input
						type="number"
						class="form-control"
						placeholder="interval in minutes"
						formControlName="interval"
					/>
				</div>
			</div>

			<div class="col-auto">
				<ngb-timepicker
					[spinners]="false"
					[minuteStep]="minuteStep"
					formControlName="fromHour"
				></ngb-timepicker>
			</div>
			<div class="col-auto"><fa-icon icon="arrow-right"></fa-icon></div>
			<div class="col-auto">
				<ngb-timepicker
					[spinners]="false"
					[minuteStep]="minuteStep"
					formControlName="toHour"
				></ngb-timepicker>
			</div>
			<div class="col">
				<button class="btn btn-outline-success" type="submit">
					Generate
				</button>
			</div>
		</div>
		<div class="row align-items-center"></div>
	</form>
	<div class="row" *ngIf="bookings.length > 0">
		<div class="col">
			<app-booking-list [bookings]="bookings"></app-booking-list>
		</div>
	</div>
</div>
