<button *ngIf="wait" class="btn btn-warning btn-sm mr-1">
	<fa-icon icon="circle-notch" spin="true"></fa-icon>
</button>

<button
	class="btn btn-warning btn-sm bl-customer-name text-lg-left text-center"
	*ngIf="!wait"
	[ngClass]="{'btn-block': wait}"
	[ngbPopover]="customerDetailPopover"
	placement="bottom-left"
	#customerDetailPopoverRef="ngbPopover"
	(click)="setCurrentPopoverOpen(customerDetailPopoverRef)"
>
	<span class="d-lg-inline d-md-none d-sm-none d-none"
		>{{ customerDetail.name }}</span
	>
	<fa-icon
		icon="user"
		class="d-lg-none d-md-inline d-sm-inline d-inline"
	></fa-icon>
</button>

<button
	class="btn btn-warning btn-sm ml-1"
	(click)="onClearCustomer()"
	*ngIf="!wait"
>
	<fa-icon icon="times" class=""></fa-icon>
</button>

<button
	class="btn btn-warning btn-sm ml-1 mr-2"
	(click)="onReloadCustomer()"
	*ngIf="!wait"
>
	<fa-icon icon="sync-alt" class=""></fa-icon>
</button>

<ng-template #customerDetailPopover>
	<div class="row mb-4 mt-2">
		<div class="col-6">
			<button
				class="btn btn-outline-secondary btn-block btn-sm"
				(click)="onChangeCustomerDetail()"
			>
				<fa-icon [icon]="'user'"></fa-icon
				><fa-icon [icon]="'search'"></fa-icon>
			</button>
		</div>
		<div class="col-6">
			<button
				class="btn btn-outline-secondary btn-block btn-sm"
				(click)="onViewCustomerDetail()"
			>
				<fa-icon [icon]="'address-card'"></fa-icon>
			</button>
		</div>
	</div>
	<app-customer-detail-popover></app-customer-detail-popover>
	<div class="row mt-2">
		<div class="col-12">
			<button
				class="btn btn-outline-secondary btn-block btn-sm"
				(click)="onClearCustomer()"
			>
				<fa-icon [icon]="'times'"></fa-icon>
			</button>
		</div>
	</div>
</ng-template>
