<div class="container-fluid mt-2" *ngIf="branch">
	<div class="row">
		<div class="col-4">
			<div class="row">
				<div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <app-blc-edit-string-value [(value)]="branch.name" (update)="onUpdate()"></app-blc-edit-string-value>
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-auto text-secondary">
                                    Desc
                                </div>
                                <div class="col-auto">
                                    <app-blc-edit-string-value [(value)]="branch.desc" (update)="onUpdate()"></app-blc-edit-string-value>
                                </div>
                            </div>
                            <div class="row justify-content-between mt-2">
                                <div class="col-auto text-secondary">
                                    Active
                                </div>
                                <div class="col-auto">
                                    <app-bl-common-toggle-button [(value)]="branch.active" (update)="onUpdate()"></app-bl-common-toggle-button>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
            		<app-branch-edit-price-info [branch]="branch"></app-branch-edit-price-info>
				</div>
			</div>
		</div>
		<div class="col-8">
			<app-branch-edit-items [branch]="branch"></app-branch-edit-items>
		</div>
    </div>
</div>
