<div class="card">
	<div class="card-header" *ngIf="title">
		<h4 class="text-center" i18n="@@customerItemListTitle">
			Customer items
		</h4>
	</div>
	<ul class="list-group list-group-flush">
		<li
			class="list-group-item list-group-item-secondary text-center"
			*ngIf="customerItemList.length <= 0 && !wait"
		>
			<fa-icon [icon]="'exclamation-circle'" class="mr-2"></fa-icon>
			<span i18n="@@customerItemListNoCustomerItemsFound"
				>No customer-items found</span
			>
		</li>

		<li class="list-group-item list-group-item-danger" *ngIf="error">
			<span>Something went wrong with retrieving the customerItems</span>
		</li>

		<li
			class="list-group-item list-group-item-warning text-center"
			*ngIf="wait"
		>
			<fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
		</li>
	</ul>
	<ul *ngIf="!wait">
		<li
			class="list-group-item list-group-item-action"
			*ngFor="let customerItemListItem of customerItemList"
		>
			<app-customer-item-list-item
				[customerItem]="customerItemListItem.customerItem"
			></app-customer-item-list-item>
		</li>
	</ul>
</div>
