
<div class="card">
	<div class="card-header" *ngIf="title">
		<h4 class="card-title">
			{{title}}
		</h4>
	</div>
	<div class="card-body" *ngIf="customerItems.length <= 0">
		<app-bl-common-alert [text]="'No customer items found'" [type]="'secondary'"></app-bl-common-alert>
	</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action" *ngFor="let customerItem of customerItems">
			<app-customer-item-list-item [customerItem]="customerItem"></app-customer-item-list-item>
        </li>
    </ul>
</div>
