<div class="card">
	<div
		class="card-header bl-flex-row cardHeader"
		(click)="createHistoryPreview()"
	>
		<h4>Historikk (24t)</h4>
		<button
			type="button"
			class="btn"
			[attr.aria-expanded]="!isCollapsed"
			aria-controls="collapseExample"
		>
			<fa-icon *ngIf="!isCollapsed" icon="chevron-up"></fa-icon>
			<fa-icon *ngIf="isCollapsed" icon="chevron-down"></fa-icon>
		</button>
	</div>
	<div
		#collapse="ngbCollapse"
		class="collapseBody"
		[(ngbCollapse)]="isCollapsed"
	>
		<p *ngIf="waiting">
			Laster
			<fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
		</p>
		<div class="card-body" *ngIf="!waiting">
			<p *ngIf="history.length === 0">
				Fant ingen innsamlinger ved denne skolen siste 24 timer
			</p>
			<div
				*ngIf="history.length > 0"
				class="mb-2 d-flex justify-content-center"
			>
				<button
					type="button"
					class="btn btn-primary"
					(click)="sortHistoryByCustomerName()"
				>
					Sorter etter kundenavn
				</button>
				<button
					(click)="sortHistoryByDate()"
					type="button"
					class="btn btn-primary ml-1"
				>
					Sorter etter nylige
				</button>
			</div>
			<div>
				<app-user-order-summary
					*ngFor="let userBooks of history"
					[userBooks]="userBooks"
					[isHistory]="true"
					(fetchData)="fetchCustomerHistory($event)"
				></app-user-order-summary>
			</div>
		</div>
	</div>
</div>
