<h3 class="text-center" i18n="@@uniqueItemDetailHistory">History</h3>
<div *ngFor="let customerItem of customerItems" class="mb-2">
	<app-customer-item-detail
		[customerItem]="customerItem"
	></app-customer-item-detail>
</div>
<div class="alert alert-secondary" *ngIf="customerItems.length <= 0 && !wait">
	<fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>
	No history found
</div>
<div class="alert alert-warning text-center" *ngIf="wait">
	<fa-icon icon="circle-notch" spin="true"></fa-icon>
</div>
