/* You can add global styles to this file, and also import other style files */

$primary-color: #3387a1;
$secondary-color: #283d3b;
$alert-color: #e63946;
$success-color: #53dd6c;
$warning-color: #ee8434;

$link-border: 2px solid #ffffff;
$link-border-black: 2px solid #000000;
$border-color: rgba(0,0,0,.125);

:focus {
	outline: none !important;
}

::-moz-focus-inner {
	border: 0 !important;
}


.bl-link {
	cursor: pointer;
}

.bl-link:hover {
	border-bottom: $link-border;
}

.bl-link-black {
	@extend .bl-link;
}

.bl-link-black:hover {
	border-bottom: $link-border-black;
}


.datatable-body-row.active {
	background-color: #c7ffbc;

}
