/* You can add global styles to this file, and also import other style files */

$primary-color: #3387a1;
$secondary-color: #283d3b;
$alert-color: #e63946;
$success-color: #53dd6c;
$warning-color: #ee8434;
$inactive-color: #d7dbdd;

$link-border: 2px solid #ffffff;
$link-border-black: 2px solid #000000;
$border-color: rgba(0, 0, 0, 0.125);

:focus {
	outline: none !important;
}

::-moz-focus-inner {
	border: 0 !important;
}

.bl-content {
	max-height: calc(100vh - 50px);
	//flex: 1 1 0;
	//flex-direction: column;
	//display: flex;
	//align-items: stretch;
	overflow-y: scroll;
}

.bl-flex-row {
	//flex: 1 1 0;
	//display: flex;
}

.bl-col-scroll {
	max-height: calc(100vh - 60px);
	overflow-y: scroll;
}

.bl-link {
	cursor: pointer;
}

.bl-text-sm {
	font-size: 0.8em;
}

.bl-text-lg {
	font-size: 1.2em;
}

.bl-text-xl {
	font-size: 1.5em;
}

.bl-link:hover {
	border-bottom: $link-border;
}

.bl-link-black {
	@extend .bl-link;
}

.bl-link-black:hover {
	border-bottom: $link-border-black;
}

.bl-toggle-on {
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	color: $success-color;
}

.bl-inactive-item {
	background-color: $inactive-color;
}

.bl-toggle-on:hover {
	color: #337f37;
}

.bl-toggle-off {
	@extend .bl-toggle-on;
	color: $alert-color;
}

.bl-toggle-off:hover {
	color: #9f0600;
}

.datatable-body-row.active {
	background-color: #c7ffbc;
}

.ngb-highlight {
	background-color: $primary-color;
	color: white;
}
