<div class="container mt-2">
	<div class="row justify-content-center">
		<div class="col-auto"><h1>Welcome to bladmin</h1></div>
	</div>
	<div class="row justify-content-center">
		<div class="col-6">
			<div class="card">
				<div class="card-header">Shortcuts</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between">
						<strong>SHIFT x 2</strong>
						<span>focus on search bar</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<strong>ALT + R</strong>
						<span>reload current customer</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<strong>ALT + UP</strong>
						<span>navigate up sidebar</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<strong>ALT + DOWN</strong>
						<span>navigate down sidebar</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
