<div class="alert alert-warning text-center" *ngIf="wait">
	<fa-icon icon="circle-notch" spin="true"></fa-icon>
</div>

<div class="card" *ngIf="activeCustomerItem && !wait">
	<div class="card-header text-center bg-success text-white">
		Currently in possesion
	</div>
	<div class="card-body">
		<app-customer-information
			*ngIf="activeCustomerItem"
			[userDetailId]="activeCustomerItem.customer"
		></app-customer-information>
		<div class="mt-2">
			<app-customer-item-detail
				*ngIf="activeCustomerItem"
				[customerItem]="activeCustomerItem"
			></app-customer-item-detail>
		</div>
	</div>
</div>

<div class="card" *ngIf="!activeCustomerItem && !wait">
	<div
		class="card-header bg-danger text-white"
		i18n="@@uniqueItemInformationCurrentlyNotActive"
	>
		Not currently active
	</div>
	<div class="card-body">
		<span i18n="@@uniqueItemInformationCurrentlyNotActiveInfo"
			>The bl-id is not used by any customers at the moment.</span
		>
	</div>
</div>
