<div class="container-fluid mt-2 mb-2" *ngIf="isAdmin">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a
				class="nav-link"
				[ngClass]="{active: activeTab === 'view'}"
				routerLink="view"
				i18n="@@bookingView"
				>View</a
			>
		</li>
		<li class="nav-item">
			<a
				class="nav-link"
				[ngClass]="{active: activeTab === 'edit'}"
				routerLink="edit"
				i18n="@@bookingEdit"
				>Edit</a
			>
		</li>
		<li class="nav-item">
			<a
				class="nav-link"
				[ngClass]="{active: activeTab === 'create'}"
				routerLink="create"
				i18n="@@bookingCreate"
				>Create</a
			>
		</li>
	</ul>
</div>
<div class="container-fluid pt-2"><router-outlet></router-outlet></div>
