<div class="row">
	<div class="col-12">
		<div
			class="btn-group btn-group-toggle"
			ngbRadioGroup
			[(ngModel)]="deadline"
			(ngModelChange)="selectDeadline($event)"
		>
			<label
				ngbButtonLabel
				class="btn-outline-secondary"
				*ngFor="let deadlineOption of deadlineOptions"
				[ngClass]="
					today - deadlineOption > MS_IN_DAY
						? 'deadline-passed'
						: undefined
				"
				[ngbTooltip]="
					today - deadlineOption > MS_IN_DAY
						? 'Denne fristen har gått ut'
						: undefined
				"
			>
				<input ngbButton type="radio" [value]="deadlineOption" />
				{{ deadlineOption | blDate: "date" }}
			</label>
			<label ngbButtonLabel class="btn-outline-secondary">
				<input
					ngbButton
					type="radio"
					value="custom"
					i18n="@@blcPeriodSelectCustom"
				/>
				Custom
			</label>
		</div>
		<p>
			<span i18n="@@blcDeadlineSelectSelectedDeadline"
				>Selected deadline:</span
			>
			<b> {{ deadline | blDate: "date" }}</b>
		</p>
	</div>
	<div class="col-12">
		<div class="row mt-2" *ngIf="customDeadline">
			<div class="col-12">
				<div class="row justify-content-between">
					<div
						class="col-auto font-weight-bold"
						i18n="@@blcPeriodSelectFrom"
					>
						Deadline
					</div>
					<div class="col-auto">
						<app-blc-edit-date-value
							[(value)]="deadline"
							(valueChange)="selectDeadline(deadline)"
						></app-blc-edit-date-value>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
