<div *ngIf="showContent">
	<div class="modal-header">
		<h4 class="modal-title">{{ scannedBook.title }}</h4>
	</div>

	<div class="modal-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">BL-ID</th>
					<th scope="col">ISBN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ scannedBook.blid }}</td>
					<td>{{ isbn }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal-footer">
		<div class="center">
			<button
				class="btn btn-outline-danger btn-block"
				i18n="@@customerDetailModalCloseButton"
				(click)="activeModal.close('close click')"
			>
				Lukk
			</button>
		</div>
	</div>
</div>
