<div class="row justify-content-center" *ngIf="delivery">
	<div class="col-auto">
		<div class="row mt-2 justify-content-center">
			<div class="col-auto">
				<span *ngIf="delivery.info['shipmentAddress']">
					{{ delivery.info["shipmentAddress"]["name"] }}
				</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<span *ngIf="customerDetail.phone">
					{{ customerDetail.phone }}
				</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<span *ngIf="customerDetail.email">
					{{ customerDetail.email }}
				</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<span *ngIf="delivery.info['shipmentAddress']">
					{{ delivery.info["shipmentAddress"]["address"] }}
				</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto">
				<span *ngIf="delivery.info['shipmentAddress']">
					{{ delivery.info["shipmentAddress"]["postalCode"] }}
					{{ delivery.info["shipmentAddress"]["postalCity"] }}
				</span>
			</div>
		</div>
	</div>
</div>
