<div class="container">
	<div class="row">
		<div class="col">
			<app-booking-time-picker
				[branchId]="branchId"
				(picked)="onBookingDateChange($event)"
			></app-booking-time-picker>
		</div>
	</div>
	<div class="row mt-2" *ngIf="wait">
		<div class="col text-center">
			<div class="alert alert-warning">
				<fa-icon [icon]="'circle-notch'" [spin]="true"> </fa-icon>
			</div>
		</div>
	</div>
	<div class="row mt-2" *ngIf="!wait && bookingDate && bookings.length <= 0">
		<div class="col">
			<div
				class="alert alert-secondary"
				i18n="@@bookingViewNoBookingsFound"
			>
				No bookings found
			</div>
		</div>
	</div>
	<div class="row mt-2" *ngIf="bookings.length > 0">
		<div class="col">
			<table class="table table-sm table-hover table-striped">
				<thead>
					<tr>
						<th scope="col" i18n="@@bookingViewTime">Time</th>
						<th
							scope="col"
							i18n="@@bookingViewCustomer"
							class="text-center"
						>
							Customer
						</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let booking of bookings; let i = index">
						<td>
							{{ booking.from | blDate: "time" }}
							<small class="text-muted">
								<fa-icon
									[icon]="'arrow-right'"
									class="mr-2 ml-2"
								></fa-icon>
								{{ booking.to | blDate: "time" }}
							</small>
						</td>
						<td class="text-center">
							<span *ngIf="!booking.customer"> - </span>
							<span
								*ngIf="booking.customer"
								[routerLink]="'/customer/detail'"
								[queryParams]="{ customerId: booking.customer }"
								class="bl-link-black"
							>
								{{ booking.customer | customerName | async }}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
